@model List<NatalCare.Models.Entities.Patients>

@{
    Layout = null;
}


<div class="table-responsive">
    <table class="table table-hover table-striped">
        <thead class="border-bottom-2">
            <tr>
                <th>Patient No</th>
                <th>Firstname</th>
                <th>Middlename</th>
                <th>Lastname</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Address</th>
                <th>Date of Birth</th>
                <th>Date Added</th>
                <th>Added By</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var patient in Model)
                {
                    <tr class="align-middle">
                        <th>@patient.PatientID</th>
                        <td>@patient.FirstName</td>
                        <td>@patient.MiddleName</td>
                        <td>@patient.LastName</td>
                        <td>
                            @{
                                if (patient.Birthdate.HasValue)
                                {
                                    var birthYear = patient.Birthdate.Value.Year;
                                    var currentYear = DateTime.Now.Year;
                                    var age = currentYear - birthYear;
                                    <text>@age</text>
                                }
                                else
                                {
                                    @:N/A
                                }
                            }
                        </td>
                        <td>@patient.Gender</td>
                        <td>@patient.Address</td>
                        <td>@patient.Birthdate?.ToString("MMM dd yyyy")</td>
                        <td>@patient.Created_At?.ToString("MMM dd yyyy h:mm tt")</td>
                        <td>@patient.CreatedBy?.FirstName @patient.CreatedBy?.LastName</td>
                        <td class="text-center">
                            <button id="retreiveBtn" class="btn btn-sm btn-outline-pink d-flex align-items-center gap-2" data-caseno="@patient.PatientID">
                                <i class="fa-solid fa-undo"></i>
                                <span>Retrieve</span>
                            </button>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="20" class="text-center">
                        No data available.
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>


<script>
    $("#retreiveBtn").on("click", function () {
        var caseno = $(this).data('caseno');
        retrieveRecord(caseno);
    });

    function retrieveRecord(caseno) {
        $.ajax({
            url: '@Url.Action("RetrieveRecord", "Patient")',
            type: 'POST',
            data: { caseno: caseno },
            success: function (result) {
                if (result.isSuccess) {
                    toastr.success(result.message)
                    LoadAllPatientsComponent();
                    $('#deletedPatientModal').modal('hide');
                } else {
                    toastr.error(result.message);
                }
            },
            error: function () {
                console.error("Failed to load patients data.");
            }
        });
    }
</script>
