@model List<NatalCare.Models.Entities.Patients>

@{
    ViewData["Title"] = "Patients Records";
    Layout = "_UserLayout";
}

<!-- NAVBAR -->
<partial name="Partial/_Navbar" />

<div class="mx-4">
    <div class="row">
        <!-- Totals Section -->
        <div class="col-md-4 mb-4">
            <div class="card shadow py-2 card-selected">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col mr-2">
                            <div class="fw-bold mb-1" style="font-size: 1em; color: var(--dark);">
                                Today Patients
                            </div>
                            <div class="h4 fw-bold my-3">
                                @(ViewBag.TodayRecord ?? 0)
                            </div>
                            <div class="fw-bold mb-1" style="font-size: .8em; color: var(--dark);">
                                Total Patients <span class="h6">@(ViewBag.TodayRecord ?? 0)</span> today
                            </div>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-info">
                                <i class="fas fa-clock text-white" style="font-size: 20px;"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card shadow py-2 card-selected">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col mr-2">
                            <div class="fw-bold mb-1" style="font-size: 1em; color: var(--dark);">
                                Monthly Patients
                            </div>
                            <div class="h4 fw-bold my-3">
                                @(ViewBag.MonthlyRecord ?? 0)
                            </div>
                            <div class="fw-bold mb-1" style="font-size: .8em; color: var(--dark);">
                                Total Patients <span class="h6">@(ViewBag.MonthlyRecord ?? 0)</span> this month
                            </div>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-warning">
                                <i class="fas fa-calendar" style="font-size: 20px;"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card shadow py-2 card-selected">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col mr-2">
                            <div class="fw-bold mb-1" style="font-size: 1em; color: var(--dark);">
                                Yearly Patients
                            </div>
                            <div class="h4 fw-bold my-3">
                                @(ViewBag.YearlyRecord ?? 0)
                            </div>
                            <div class="fw-bold mb-1" style="font-size: .8em; color: var(--dark);">
                                Total Patients <span class="h6">@(ViewBag.YearlyRecord ?? 0)</span> this year
                            </div>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-success">
                                <i class="fas fa-calendar"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mb-4 mt-2 d-flex align-items-center justify-content-end">
        <a class="btn btn-pink d-flex align-items-center gap-2" asp-controller="Patient" asp-action="Create">
            <i class='fas fa-user-plus' style="font-size: 18px;"></i>
            <strong>Add New Patient</strong>
        </a>
    </div>

    <div class="card shadow-sm card-selected">
        @*  <div class="card-header d-flex justify-content-between align-items-center bg-white">
        <h5 class="card-title m-0">Patients</h5>
        <div>
        <a class="btn btn-sm btn-secondary d-flex align-items-center gap-2" asp-controller="Patient" asp-action="Inactive">
        <i class='bx bxs-trash'></i>
        <span>Show Temporary Deleted</span>
        </a>
        </div>
        </div> *@
        <div class="card-body">
            <div class="table-responsive">
                <table id="patientsTable" class="table table-hover table-striped">
                    <thead class="border-bottom-2">
                        <tr>
                            <th>Profile</th>
                            <th>Patient No</th>
                            <th>Firstname</th>
                            <th>Middlename</th>
                            <th>Lastname</th>
                            <th>Age</th>
                            <th>Gender</th>
                            <th>Address</th>
                            <th>Date of Birth</th>
                            <th>Date Added</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var patient in Model)
                        {
                            <tr class="align-middle">
                                <td>
                                    @if (patient.Gender?.ToLower() == "female")
                                    {
                                        <img src="~/profile/woman.png" width="50" height="50" alt="Profile" class="img-fluid rounded-circle" />
                                    }
                                    else
                                    {
                                        <img src="~/profile/man.png" width="50" height="50" alt="Profile" class="img-fluid rounded-circle" />
                                    }
                                </td>
                                <th>@patient.PatientID</th>
                                <td>@patient.FirstName</td>
                                <td>@patient.MiddleName</td>
                                <td>@patient.LastName</td>
                                <td>
                                    @{
                                        if (patient.Birthdate.HasValue)
                                        {
                                            var birthYear = patient.Birthdate.Value.Year;
                                            var currentYear = DateTime.Now.Year;
                                            var age = currentYear - birthYear;
                                            <text>@age</text>
                                        }
                                        else
                                        {
                                            @:N/A
                                        }
                                    }
                                </td>
                                <td>@patient.Gender</td>
                                <td>@patient.Address</td>
                                <td>@patient.Birthdate?.ToString("MMM dd yyyy")</td>
                                <td>@patient.Created_At?.ToString("MMM dd yyyy h:mm tt")</td>
                                <td class="text-center">
                                    <div class="d-flex align-items-center justify-content-center gap-4">
                                        <a class="btn btn-sm btn-outline-secondary d-flex align-items-center justify-content-center gap-1" asp-controller="Patient" asp-action="Information" asp-route-id="@patient.PatientID">
                                            <i class="fa-solid fa-list"></i>
                                            <span>Record</span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Initialize DataTables
            $('#patientsTable').DataTable({
                paging: true,
                lengthChange: true,
                searching: true,
                ordering: true,
                lengthMenu: [10, 20, 50, 100],
                language: {
                    search: "_INPUT_",
                    searchPlaceholder: "Search patients..."
                },
                language: {
                    paginate: {
                        previous: "Previous",
                        next: "Next"
                    }
                },
                info: true,
                autoWidth: false,
                responsive: true,
                columnDefs: [
                    { orderable: false, targets: -1 }
                ]
            });


        });
    </script>
}


