@using NatalCare.Models.ViewModel.Patient
@model DeliveryRecordVM

@{
    ViewData["Title"] = "Delivery Records";
    ViewData["NavTitle"] = "Patients / Delivery Records";
    Layout = "_UserLayout";
}

<!-- NAVBAR -->
<partial name="Partial/_Navbar" />

<div class="mx-4">
    <div class="d-flex align-items-center justify-content-start gap-3 mb-3">
        <a asp-controller="Patient" asp-action="MedicalRecords" asp-route-id="@Model.Patient?.PatientID" class="btn btn-sm btn-outline-pink">
            <i class="fas fa-arrow-left"></i>
            <span>Back</span>
        </a>
        <input type="hidden" id="patID" name="patientID" value="@Model.Patient?.PatientID" />
        <h5 class="fw-bold m-0 text-capitalize">@Model.Patient?.FirstName @Model.Patient?.MiddleName @Model.Patient?.LastName</h5>
    </div>

    <div class="card card-selected mb-5" id="clinicalCard" data-patient-id="@Model.Patient?.PatientID" data-caseno="@Model.Delivery?.CaseNo">
        <div class="card-body mb-5">
            <h5 class="card-title mb-4">Delivery Details</h5>
            <!-- Tabs for Services -->
            <ul class="nav nav-tabs" id="patientTabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="physicalExamination-tab" data-bs-toggle="tab" href="#physicalExamination" role="tab">Physical Examination</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="maternalMonitoring-tab" data-bs-toggle="tab" href="#maternalDeliveryMonitoring" role="tab">Delivery Monitoring</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="clinicalSheet-tab" data-bs-toggle="tab" href="#clinicalSheet" role="tab">Clinical Face Sheet</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="obstetrical-tab" data-bs-toggle="tab" href="#obstetrical" role="tab">Obstetrical History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="dischargement-tab" data-bs-toggle="tab" href="#dischargementForm" role="tab">Dischargement Form</a>
                </li>
            </ul>

            <!-- Tab Content -->
            <div class="tab-content mt-4">
                <!-- Physical Examination Tab -->
                <div class="tab-pane fade show active" id="physicalExamination" role="tabpanel"></div>

                <!-- Maternal Delivery Monitoring Tab -->
                <div class="tab-pane fade" id="maternalDeliveryMonitoring" role="tabpanel">
                    <h5 class="px-2 text-center fw-bold">MATERNAL SERVICES RECORD</h5>
                    <h5 class="px-2 mb-3 text-center fw-bold">DELIVERY MONITORING RECORD</h5>
                    <div class="d-flex justify-content-end my-3 gap-3 px-2">
                        @*   <button class="btn btn-sm btn-pink" data-bs-toggle="modal" data-bs-target="#deliveryAddModal">
                            <i class="fas fa-plus"></i>
                            <span>Add New</span>
                        </button> *@
                        <button class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#deliveryAddModal">
                            <i class="fas fa-pencil-alt"></i>
                            <span>Edit</span>
                        </button>
                    </div>
                    <div class="container mt-4">
                        <h6 class="fw-bold mb-4" style="font-size:1.2rem;">I. PROGRESS OF LABOR</h6>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Time</th>
                                        <th>Temperature</th>
                                        <th>BP</th>
                                        <th>PR</th>
                                        <th>RR</th>
                                        <th>Uterine Contraction Interval</th>
                                        <th>Clervical Dilation</th>
                                        <th>Bow Intact/Rupture</th>
                                        <th>Fetal Heart Tones</th>
                                        <th>Characteristic of FHT Weak/Strong</th>
                                        <th>Presenting Part</th>
                                    </tr>
                                </thead>
                                <tbody class="text-center">
                                    <tr>
                                        <td>11/22/24</td>
                                        <td>3:00 PM</td>
                                        <td>37.5 C</td>
                                        <td>160/80</td>
                                        <td>80</td>
                                        <td>20</td>
                                        <td></td>
                                        <td>10 cm</td>
                                        <td>5 BOW</td>
                                        <td>142 bpm</td>
                                        <td>strong</td>
                                        <td>Cepholic</td>
                                    </tr>
                                    @for (var i = 1; i<=2; i++){
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>

                        <div class="row mt-5">
                            <div class="col-md-6">
                                <h6 class="fw-bold mb-4" style="font-size:1.2rem;">II. DELIVERY OF THE BABY</h6>

                                <div class="col-md-6 mb-3">
                                    <div class="d-flex align-items-center">
                                        <h6 class="me-2 mb-0 fw-bold">TIME DELIVERED: </h6>
                                        <div class="border-bottom flex-grow-1">
                                            <span class="px-2">
                                                3:00 PM
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 mb-3">
                                    <div class="d-flex align-items-center">
                                        <h6 class="me-2 mb-0 fw-bold">APGAR SCORING:</h6>
                                        <div class="border-bottom flex-grow-1">
                                            <span class="px-2">
                                                9-10
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 mb-3">
                                    <div class="d-flex align-items-center">
                                        <h6 class="me-2 mb-0 fw-bold">SEX OF BABY:</h6>
                                        <div class="border-bottom flex-grow-1">
                                            <span class="px-2">
                                                Male
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 mb-3">
                                    <div class="d-flex align-items-center">
                                        <h6 class="me-2 mb-0 fw-bold">WEIGHT:</h6>
                                        <div class="border-bottom flex-grow-1">
                                            <span class="px-2">
                                                3 kg
                                            </span>
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="col-md-6">
                                <h6 class="fw-bold mb-4" style="font-size:1.2rem;">III. DELIVERY OF THE PLACENTA</h6>
                                <div class="col-md-6 mb-3">
                                    <div class="d-flex align-items-center">
                                        <h6 class="me-2 mb-0 fw-bold">TIME DELIVERED: </h6>
                                        <div class="border-bottom flex-grow-1">
                                            <span class="px-2">
                                                3:00 PM
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 mb-3">
                                    <div class="d-flex align-items-center">
                                        <h6 class="me-2 mb-0 fw-bold">COMPLETE OR INCOMPLETE:</h6>
                                        <div class="border-bottom flex-grow-1">
                                            <span class="px-2">

                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Midwife -->
                            <div class="row py-3 d-flex justify-content-center">
                                <div class="col-md-6 mt-5 text-center">
                                    <div class="border-bottom px-3 mx-5">Midwife Member 1</div>
                                    <label class="fw-bold mt-2 d-block">Signature of the Service Provider</label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Clinical Face Sheet Tab -->
                <div class="tab-pane fade" id="clinicalSheet" role="tabpanel"></div>

                <!-- Obstetrical Tab -->
                <div class="tab-pane fade" id="obstetrical" role="tabpanel"></div>

                <!-- Dischargement Tab -->
                <div class="tab-pane fade" id="dischargementForm" role="tabpanel"></div>

            </div>
        </div>
    </div>
</div>



<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Retrieve patientId from the card's data attribute
        var patientId = $('#clinicalCard').data('patient-id');
        var caseno = $('#clinicalCard').data('caseno');

        // Get the current patient ID
        var currentPatientID = patientId;
        // Get the stored from localStorage
        var storedPatientID = localStorage.getItem('deliveryCurrentPatientID');
        var activeTab = localStorage.getItem('activeTabDelivery');

        // Check if the patient has changed
        if (currentPatientID !== storedPatientID) {
            // Reset the tab to Prenatal if the patient is different
            localStorage.removeItem('activeTabDelivery');
            localStorage.setItem('deliveryCurrentPatientID', currentPatientID);
            activeTab = '#physicalExamination';
        }
        // Show the active tab
        if (activeTab) {
            var tab = new bootstrap.Tab(document.querySelector(`a[href="${activeTab}"]`));
            tab.show();
        }
        var tabLinks = document.querySelectorAll('.nav-tabs .nav-link');
        tabLinks.forEach(function (tabLink) {
            tabLink.addEventListener('shown.bs.tab', function (event) {
                var activeTab = event.target.getAttribute('href');
                localStorage.setItem('activeTabDelivery', activeTab);
                localStorage.setItem('deliveryCurrentPatientID', currentPatientID);
            });
        });


        // Listen for tab changes
        $('a[data-bs-toggle="tab"]').on('shown.bs.tab', function (e) {
            var tabId = $(e.target).attr('href');
            var url = '';

            switch (tabId) {
                case '#clinicalSheet':
                    url = '/Delivery/ClinicalRecords?patientId=' + patientId + '&caseno=' + caseno;
                    break;
                case '#obstetrical':
                    url = '/Delivery/ObstetricalRecords?patientId=' + patientId + '&caseno=' + caseno;
                    break;
                case '#maternalDeliveryMonitoring':
                    url = '/Delivery/MaternalMonitoringRecords?patientId=' + patientId + '&caseno=' + caseno;
                    break;
                case '#physicalExamination':
                    url = '/Delivery/PERecords?patientId=' + patientId  + '&caseno=' + caseno;
                    break;
                case '#dischargementForm':  
                    url = '/Delivery/DischargmentRecord?patientId=' + patientId + '&caseno=' + caseno;
                    break;
            }

            // Load content dynamically
            if (url) {
                $.get(url, function (data) {
                    $(tabId).html(data);
                });
            }
        });

        $('a[data-bs-toggle="tab"].active').trigger('shown.bs.tab');
    });

</script>

