@using NatalCare.Models.ViewModel
@model List<UserRolesViewModel>

@{
    ViewData["Title"] = "Users";
    ViewData["NavTitle"] = "Users";
    Layout = "_UserLayout";
}

<!-- NAVBAR -->
<partial name="Partial/_Navbar" />


<div class="mx-4">
    <div class="mb-3 mt-2 d-flex align-items-center justify-content-start gap-3">
        <a class="btn btn-sm btn-pink d-flex align-items-center gap-2" asp-controller="User" asp-action="Create">
            <i class='fas fa-user-plus' style="font-size: 18px;"></i>
            <strong>Add New Users</strong>
        </a>
    </div>
    <div class="card shadow-sm card-selected">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover table-striped table-datatable">
                    <thead>
                        <tr>
                            <th>Firstname</th>
                            <th>Middlename</th>
                            <th>Lastname</th>
                            <th>Email</th>
                            @*                             <th>Age</th>
                            <th>Address</th> *@
                            <th>Date of Birth</th>
                            <th>Gender</th>
                            <th>Status</th>
                            <th>Roles</th>
                            <th>Date Added</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var userRoles in Model)
                        {
                            <tr>
                                <td>@userRoles.User.FirstName</td>
                                <td>@userRoles.User.MiddleName</td>
                                <td>@userRoles.User.LastName</td>
                                <td>@userRoles.User.Email</td>
                                @*   <td>
                            @{
                            if (userRoles.User.Birthdate.HasValue)
                            {
                            var birthYear = userRoles.User.Birthdate.Value.Year;
                            var currentYear = DateTime.Now.Year;
                            var age = currentYear - birthYear;
                            @age
                            }
                            else
                            {
                            @:N/A
                            }
                            }
                            </td>
                            <td>@userRoles.User.Address</td> *@
                                <td>@userRoles.User.Birthdate</td>
                                <td>@userRoles.User.Gender</td>
                                <td>
                                    @if (userRoles.User.StatusCode == "AC")
                                    {
                                        <span class="badge text-success">@userRoles.User.Status?.StatusName</span>
                                    }
                                    else
                                    {
                                        <span class="badge text-danger">@userRoles.User.Status?.StatusName</span>
                                    }
                                </td>
                                <td>
                                    @foreach (var role in userRoles.Roles)
                                    {
                                        if (role.ToLower() == "admin")
                                        {
                                            <span class="badge bg-success">
                                                @role
                                            </span>
                                        }
                                        else
                                        {
                                            <span class="badge bg-info text-dark">@role</span>
                                        }
                                    }
                                </td>
                                <td>@userRoles.User.Created_At?.ToString("MMM dd yy hh:mm tt")</td>
                                <td>
                                    <div class="d-flex align-items-center justify-content-center gap-2">
                                        <a class="detail-Btn btn btn-sm btn-outline-secondary d-flex align-items-center justify-content-center gap-1" asp-action="Details" asp-route-id="@userRoles.User.Id">
                                            <i class="fa-solid fa-list"></i>
                                            <span>Details</span>
                                        </a>
                                        <a class="edit-Btn btn btn-sm btn-outline-primary d-flex align-items-center justify-content-center gap-1" asp-action="Edit" asp-route-id="@userRoles.User.Id">
                                            <i class="fa-solid fa-pen-to-square"></i>
                                            <span>Edit</span>
                                        </a>
                                        <a class="dlt-Btn btn btn-sm btn-outline-danger d-flex align-items-center justify-content-center gap-1" data-Id="@userRoles.User.Id" data-bs-toggle="modal" data-bs-target="#deleteModal">
                                            <i class="fa-solid fa-trash"></i>
                                            <span>Delete</span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <h6>Are you sure you want to delete this?</h6>
                <p id="modal-item-description"></p>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer">
                <form id="deleteForm" method="post" asp-controller="User" asp-action="Delete">
                    <input type="hidden" id="deleteRoleId" name="id" />
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-danger">Delete</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- jQuery -->
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {

        //DELETE
        $('#deleteModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var id = button.attr('data-Id');
            console.log(id);

            $('#deleteRoleId').val(id);

            var form = $('#deleteForm');
            form.attr('action', '/User/Delete/' + id);
        });
    });

</script>
