@model NatalCare.Models.Entities.ClinicalFaceSheet

<div class="d-flex justify-content-center align-items-center flex-column ">
    <h5 class="px-2 mb-3 text-center fw-bold">CLINICAL FACE SHEET</h5>
    <div class="d-flex align-items-center">
        <h6 class="me-2 mb-0 fw-bold">CASE NO#:</h6>
        <input type="hidden" id="delID" name="CaseNo" value="@ViewBag.DeliveryId" />
        <input id="preID" type="hidden" value="@Model.Delivery?.PrenatalID" />

        <div class="border-bottom flex-grow-1">
            <span class="px-2 h6">
                @ViewBag.DeliveryId
            </span>
        </div>
    </div>
</div>

<div class="d-flex justify-content-end my-3 gap-3 px-2">
    @if (Model == null || Model.CaseNo == null)
    {
        <button class="btn btn-sm btn-pink" data-bs-toggle="modal" data-bs-target="#CFAddModal">
            <i class="fas fa-plus"></i>
            <span>Add New</span>
        </button>
    }
    else
    {
        <button id="printCFBtn" class="btn btn-sm btn-success" data-cfid="@Model.ID">
            <i class="fas fa-save"></i>
            <span>Print</span>
        </button>
        <button id="editCFBtn" class="btn btn-sm btn-primary" data-cfid="@Model.ID">
            <i class="fas fa-pencil-alt"></i>
            <span>Edit</span>
        </button>
    }
</div>

@if (Model == null || Model.CaseNo == null)
{
    <div class="alert alert-primary" role="alert">
        No Clinical Face Sheet Added Yet!
    </div>
}
else{
<div class="container mt-4">
        @* Patient Basic Info  *@
        <div class="row mb-3">
            @* Patient Details *@
            <div class="col-md-6 border py-3 d-flex align-items-center">
                <div class="d-flex align-items-center">
                    <h6 class="me-2 mb-0 fw-bold">Name of Patient:</h6>
                    <div class="flex-grow-1">
                        <span class="px-2">
                            @(Model.Patient?.FirstName != null ? Model.Patient?.FirstName + " " + Model.Patient?.MiddleName + " " + Model.Patient?.LastName : "N/A")
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-md-3 border py-3 d-flex align-items-center">
                <div class="d-flex align-items-center">
                    <h6 class="me-2 mb-0 fw-bold">Ward:</h6>
                    <div class="flex-grow-1">
                        <span class="px-2">
                            @(Model.Delivery?.WardNumber != null ? Model.Delivery?.Wards?.WardNo : "N/A")
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 border py-3 d-flex align-items-center">
                <div class="d-flex align-items-center">
                    <h6 class="me-2 mb-0 fw-bold">Bed:</h6>
                    <div class="flex-grow-1">
                        <span class="px-2">
                            @(Model.Delivery?.BedNumber != null ? Model.Delivery?.Beds?.BedNo : "N/A")
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-md-4 border py-3 d-flex align-items-center">
                <div class="d-flex align-items-center">
                    <h6 class="me-2 mb-0 fw-bold">Address:</h6>
                    <div class="flex-grow-1">
                        <span class="px-2">
                            @(Model.Patient?.Address != null ? Model.Patient?.Address: "N/A")
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-md-2 border py-3 d-flex align-items-center">
                <div class="d-flex align-items-center">
                    <h6 class="me-2 mb-0 fw-bold">CONTACT NO#:</h6>
                    <div class="flex-grow-1">
                        <span class="px-2">
                            @(Model.Patient?.MobileNumber != null ? Model.Patient?.MobileNumber : "N/A")
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-md-3 border py-3 d-flex align-items-center">
                <div class="d-flex align-items-center">
                    <h6 class="me-2 mb-0 fw-bold">Religion:</h6>
                    <div class="flex-grow-1">
                        <span class="px-2">
                            @(Model.Patient?.Religion != null ? Model.Patient?.Religion : "N/A")
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-md-3 border py-3 d-flex align-items-center">
                <div class="d-flex align-items-center">
                    <h6 class="me-2 mb-0 fw-bold">Occupation:</h6>
                    <div class="flex-grow-1">
                        <span class="px-2">
                            @(Model.Patient?.Occupation != null ? Model.Patient?.Occupation : "N/A")
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-md-4 border py-3 d-flex align-items-center">
                <div class="d-flex align-items-center">
                    <h6 class="me-2 mb-0 fw-bold">Birthdate:</h6>
                    <div class="flex-grow-1">
                        <span class="px-2">
                            @(Model.Patient?.Birthdate != null ? Model.Patient?.Birthdate : "N/A")
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-md-2 border py-3 d-flex align-items-center">
                <div class="d-flex align-items-center">
                    <h6 class="me-2 mb-0 fw-bold">Age:</h6>
                    <div class="flex-grow-1">
                        <span class="px-2">
                            @{
                                if (Model.Patient?.Birthdate != null)
                                {
                                    var birthYear = Model.Patient.Birthdate.Value.Year;
                                    var currentYear = DateTime.Now.Year;
                                    var age = currentYear - birthYear;
                                    <text>@age years old</text>
                                }
                                else
                                {
                                    @:N/A
                                }
                            }
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-md-3 border py-3 d-flex align-items-center">
                <div class="d-flex align-items-center">
                    <h6 class="me-2 mb-0 fw-bold">Birthplace:</h6>
                    <div class="flex-grow-1">
                        <span class="px-2">
                            @(Model.Patient?.PlaceOfBirth != null ? Model.Patient?.PlaceOfBirth : "N/A")
                        </span>
                    </div>
                </div>
            </div>
            <style>
                @@media (min-width: 768px) {
                    .mcol {
                        flex: 0 0 auto;
                        width: 12.5% !important;
                    }
                }
            </style>
            <div class="col-md-2 border py-3 mcol d-flex align-items-center">
                <div class="d-flex align-items-center">
                    <h6 class="me-2 mb-0 fw-bold">Sex:</h6>
                    <div class="flex-grow-1">
                        <span class="px-2">
                            @(Model.Patient?.Gender != null ? Model.Patient?.Gender : "N/A")
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-md-2 border py-3 mcol d-flex align-items-center">
                <div class="d-flex align-items-center">
                    <h6 class="me-2 mb-0 fw-bold">Status:</h6>
                    <div class="flex-grow-1">
                        <span class="px-2">
                            @(Model.Patient?.CivilStatus != null ? Model.Patient?.CivilStatus : "N/A")
                        </span>
                    </div>
                </div>
            </div>
            @* Admission Details *@
            <div class="col-md-12 border py-3">
                <div class="row">
                    <div class="col-md-4">
                        <h6 class="me-2 mb-0 fw-bold">Admission:</h6>
                        <div class="d-flex align-items-center mt-3 mx-5">
                            <h6 class="me-2 mb-0 fw-bold">Date:</h6>
                            <div class="border-bottom flex-grow-1">
                                <span class="px-4">
                                    @(Model.Delivery?.Date_Admitted != null ? Model.Delivery?.Date_Admitted.ToString("MMMM dd yyyy") : "N/A")
                                </span>
                            </div>
                        </div>

                        <div class="d-flex align-items-center mt-3 mb-sm-3 mx-5">
                            <h6 class="me-2 mb-0 fw-bold">Time:</h6>
                            <div class="border-bottom flex-grow-1">
                                <span class="px-4">
                                    @(Model.Delivery?.Time_Admitted != null ? Model.Delivery?.Time_Admitted : "N/A")
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <h6 class="me-2 mb-0 fw-bold">Discharge:</h6>
                        <div class="d-flex align-items-center mt-3 mx-5">
                            <h6 class="me-2 mb-0 fw-bold">Date:</h6>
                            <div class="border-bottom flex-grow-1">
                                <span class="px-4">
                                    @(Model.Delivery?.Date_Discharged != null ? Model.Delivery?.Date_Discharged?.ToString("MMMM dd yyyy") : "N/A")
                                </span>
                            </div>
                        </div>

                        <div class="d-flex align-items-center mt-3 mb-sm-3 mx-5">
                            <h6 class="me-2 mb-0 fw-bold">Time:</h6>
                            <div class="border-bottom flex-grow-1">
                                <span class="px-4">
                                    @(Model.Delivery?.Time_Discharged != null ? Model.Delivery?.Time_Discharged : "N/A")
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <h6 class="me-2 mb-0 fw-bold">Total # of Days:</h6>
                        <div class="d-flex align-items-center mt-3 mx-5">
                            <div class="border-bottom flex-grow-1">
                                <span class="px-4">
                                    @if (Model.Delivery?.Date_Admitted != null && Model.Delivery?.Date_Discharged != null)
                                    {
                                        var totalDays = (Model.Delivery.Date_Discharged.Value.ToDateTime(TimeOnly.MinValue)
                                        - Model.Delivery.Date_Admitted.ToDateTime(TimeOnly.MinValue)).Days;
                                        <text>@totalDays Days</text>
                                    }
                                    else
                                    {
                                        <text>N/A</text>
                                    }
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*PRENATAL DETAILS*@
            <div class="col-md-3 border py-3 d-flex align-items-center">
                <div class="d-flex align-items-center">
                    <h6 class="me-2 mb-0 fw-bold">LMP:</h6>
                    <div class="flex-grow-1">
                        <span class="px-2">
                            @(Model.Delivery?.PrenatalCase?.LMP != null ? Model.Delivery?.PrenatalCase?.LMP : "N/A")
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-md-3 border py-3 d-flex align-items-center">
                <div class="d-flex align-items-center">
                    <h6 class="me-2 mb-0 fw-bold">EDC#:</h6>
                    <div class="flex-grow-1">
                        <span class="px-2">
                            @(Model.Delivery?.PrenatalCase?.EDC != null ? Model.Delivery?.PrenatalCase?.EDC : "N/A")
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-md-3 border py-3 d-flex align-items-center">
                <div class="d-flex align-items-center">
                    <h6 class="me-2 mb-0 fw-bold">AOG:</h6>
                    <div class="flex-grow-1">
                        <span class="px-2" id="aogData">
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-md-3 border py-3">
                <div class="d-flex align-items-center mt-3 mx-1">
                    <h6 class="me-2 mb-0 fw-bold">T:</h6>
                    <div class="border-bottom flex-grow-1">
                        <span class="px-2">
                            @(Model.TermBirths != null ? Model.TermBirths : "N/A")
                        </span>
                    </div>

                    <h6 class="me-2 mb-0 fw-bold">P:</h6>
                    <div class="border-bottom flex-grow-1">
                        <span class="px-2">
                            @(Model.Para != null ? Model.Para : "N/A")
                        </span>
                    </div>

                    <h6 class="me-2 mb-0 fw-bold">A:</h6>
                    <div class="border-bottom flex-grow-1">
                        <span class="px-2">
                            @(Model.Abortion != null ? Model.Abortion : "N/A")
                        </span>
                    </div>

                    <h6 class="me-2 mb-0 fw-bold">L:</h6>
                    <div class="border-bottom flex-grow-1">
                        <span class="px-2">
                            @(Model.LivingChildren != null ? Model.LivingChildren : "N/A")
                        </span>
                    </div>
                </div>

                <div class="d-flex align-items-center mt-3 mx-1">
                    <h6 class="me-2 mb-0 fw-bold">G:</h6>
                    <div class="border-bottom flex-grow-1">
                        <span class="px-2">
                            @(Model.Gravida != null ? Model.Gravida : "N/A")
                        </span>
                    </div>

                    <h6 class="me-2 mb-0 fw-bold">P:</h6>
                    <div class="border-bottom flex-grow-1">
                        <span class="px-2">
                            @(Model.Para != null ? Model.Para : "N/A")
                        </span>
                    </div>

                    <h6 class="me-2 mb-0 fw-bold">A:</h6>
                    <div class="border-bottom flex-grow-1">
                        <span class="px-2">
                            @(Model.Abortion != null ? Model.Abortion : "N/A")
                        </span>
                    </div>
                </div>
            </div>


            <div class="col-md-6 border py-3">
                <div class="d-flex align-items-center">
                    <h6 class="me-2 mb-0 fw-bold">History of Patients Condition:</h6>
                    <div class="flex-grow-1">
                        <span class="px-2">
                            @(Model.HistoryOfPatientPresentCondition != null ? Model.HistoryOfPatientPresentCondition : "N/A")
                            @* History of Patients Condition, History of Patients Condition, History of Patients Condition *@
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-md-3 border py-3 d-flex align-items-center">
                <div class="d-flex align-items-center">
                    <h6 class="me-2 mb-0 fw-bold">ADMITTING:</h6>
                    <div class="flex-grow-1">
                        <span class="px-2">
                            @(Model.Admitting != null ? Model.Admitting : "N/A")
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-md-3 border py-3 d-flex align-items-center">
                <div class="d-flex align-items-center">
                    <h6 class="me-2 mb-0 fw-bold">ICD-10 CODE/S:</h6>
                    <div class="flex-grow-1">
                        <span class="px-2">
                            @(Model.ICDCodes != null ? Model.ICDCodes : "N/A")
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-md-12 border py-3">
                <div class="d-flex align-items-center">
                    <h6 class="me-2 mb-0 fw-bold">Final Diagnosis:</h6>
                    <div class="flex-grow-1">
                        <span class="px-2">
                            @(Model.FinalDiagnosis != null ? Model.FinalDiagnosis : "N/A")
                            @* History of Patients Condition, History of Patients Condition, History of Patients Condition *@
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-md-6 border py-3 d-flex align-items-center">
                <div class="d-flex align-items-center">
                    <h6 class="me-2 mb-0 fw-bold">Name Of Informant:</h6>
                    <div class="flex-grow-1">
                        <span class="px-2">
                            @(Model.InformantName != null ? Model.InformantName : "N/A")
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-md-6 border py-3 d-flex align-items-center">
                <div class="d-flex align-items-center">
                    <h6 class="me-2 mb-0 fw-bold">Relation to Patient:</h6>
                    <div class="flex-grow-1">
                        <span class="px-2">
                            @(Model.RelationToPatient != null ? Model.RelationToPatient : "N/A")
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-md-6 border py-3 d-flex align-items-center">
                <div class="d-flex align-items-center">
                    <h6 class="me-2 mb-0 fw-bold">Address:</h6>
                    <div class="flex-grow-1">
                        <span class="px-2">
                            @(Model.InformantAddress != null ? Model.InformantAddress : "N/A")
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-md-6 border py-3 d-flex align-items-center">
                <div class="d-flex align-items-center">
                    <h6 class="me-2 mb-0 fw-bold">Contact #:</h6>
                    <div class="flex-grow-1">
                        <span class="px-2">
                            @(Model.InformantContactNo != null ? Model.InformantContactNo : "N/A")
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-md-6 border py-3">
                <label class="fw-bold mb-2">Condition on Discharge:</label>
                <div class="form-check d-flex align-items-center mb-2 gap-2">
                    <input type="checkbox" id="dRecovered" class="update-checkbox custom-checkbox" @(Model.Recoverred == true ? "checked" : "") disabled >
                    <label for="dRecovered" class="form-check-label">RECOVERED</label>
                </div>
                <div class="form-check d-flex align-items-center mb-2 gap-2">
                    <input type="checkbox" id="dImprov" class="update-checkbox custom-checkbox" @(Model.Improved == true ? "checked" : "") disabled>
                    <label for="dImprov" class="form-check-label">IMPROVED</label>
                </div>
                <div class="form-check d-flex align-items-center mb-2 gap-2">
                    <input type="checkbox" id="dUnimprov" class="update-checkbox custom-checkbox" @(Model.UnImproved == true ? "checked" : "") disabled >
                    <label for="dUnimprov" class="form-check-label">UNIMPROVED</label>
                </div>
            </div>

            <div class="col-md-6 border py-3">
                <label class="fw-bold mb-2">Disposition:</label>
                <div class="form-check d-flex align-items-center mb-2 gap-2">
                    <input type="checkbox" id="dDischarge" class="update-checkbox custom-checkbox" @(Model.Discarged == true ? "checked" : "") disabled >
                    <label for="dDischarge" class="form-check-label">DISCHARGE</label>
                </div>
                <div class="form-check d-flex align-items-center mb-2 gap-2">
                    <input type="checkbox" id="dTransfered" class="update-checkbox custom-checkbox" @(Model.Transferred == true ? "checked" : "") disabled >
                    <label for="dTransfered" class="form-check-label">TRANSFERRED</label>
                </div>
                <div class="form-check d-flex align-items-center mb-2 gap-2">
                    <input type="checkbox" id="dHama" class="update-checkbox custom-checkbox" @(Model.Hama == true ? "checked" : "") disabled >
                    <label for="dHama" class="form-check-label">HAMA(Home Against Medical Advice)</label>
                </div>
                <div class="form-check d-flex align-items-center mb-2 gap-2">
                    <input type="checkbox" id="dAbssconded" class="update-checkbox custom-checkbox" @(Model.Abssconded == true ? "checked" : "") disabled >
                    <label for="dAbssconded" class="form-check-label">ABSSCONDED</label>
                </div>
            </div>


            @* Midwife *@
            <div class="row py-3 d-flex justify-content-center">
                <div class="col-md-6 mt-5 text-center">
                    <div class="border-bottom px-3 mx-5">@(Model.MidwifeID != null ? Model.Midwife?.FirstName + " " + Model.Midwife?.MiddleName + " " + Model.Midwife?.LastName : "N/A")</div>
                    <label class="fw-bold mt-2 d-block">Admitting Midwife</label>
                    <label class="fw-bold mt-2 d-block">Printed Name & Signature</label>
                </div>
            </div>


        </div>

        <hr class="divider bg-pink" />
    </div>
}


@* Add Modal  *@
<div class="modal fade" id="CFAddModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-pink">
                <h5 class="modal-title">Add Clinical Face Sheet Form</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="AddCFForm" method="POST">
                    @Html.AntiForgeryToken()

                    <div class="row">
                        <div class="col-md-4 mb-4">
                            <label for="TermBirths-Add" class="control-label">Term Births (T)</label>
                            <input type="number" id="TermBirths-Add" name="TermBirths" class="form-control" placeholder="Enter term births" />
                        </div>
                        <div class="col-md-4 mb-4">
                            <label for="Premature-Add" class="control-label">Premature Births (P)</label>
                            <input type="number" id="Premature-Add" name="Premature" class="form-control" placeholder="Enter premature births" />
                        </div>
                        <div class="col-md-4 mb-4">
                            <label for="Abortion-Add" class="control-label">Abortion Births (A)</label>
                            <input type="number" id="Abortion-Add" name="Abortion" class="form-control" placeholder="Enter abortion" />
                        </div>
                        <div class="col-md-4 mb-4">
                            <label for="LivingChildren-Add" class="control-label">Living children (L)</label>
                            <input type="number" id="LivingChildren-Add" name="LivingChildren" class="form-control" placeholder="Enter living children" />
                        </div>
                        <div class="col-md-4 mb-4">
                            <label for="Gravida-Add" class="control-label">Gravida (G)</label>
                            <input type="number" id="Gravida-Add" name="Gravida" class="form-control" placeholder="Enter gravida" />
                        </div>
                        <div class="col-md-4 mb-4">
                            <label for="Para-Add" class="control-label">Para (P)</label>
                            <input type="number" id="Para-Add" name="Para" class="form-control" placeholder="Enter para" />
                        </div>

                        <div class="col-md-8 mb-3">
                            <label for="Admitting-Add" class="control-label">Admitting</label>
                            <input type="text" id="Admitting-Add" name="Admitting" class="form-control" placeholder="Enter admitting" />
                        </div>


                        <div class="col-md-4 mb-4">
                            <label for="ICDCodes-Add" class="control-label">ICD Codes</label>
                            <input type="text" id="ICDCodes-Add" name="ICDCodes" class="form-control" value="080,9,Z39.0,Z39.2" placeholder="Enter ICD Codes" />
                        </div>

                        <div class="col-md-12 mb-3">
                            <label for="HistoryOfPatientPresentCondition-Add" class="control-label">History of Patient Present Condition</label>
                            <textarea id="HistoryOfPatientPresentCondition-Add" name="HistoryOfPatientPresentCondition" class="form-control" placeholder="Enter history of patient present condition" rows="3"></textarea>
                        </div>

                        <div class="col-md-12 mb-4">
                        <label for="FinalDiagnosis-Add" class="control-label">Final Diagnosis</label>
                            <textarea id="FinalDiagnosis-Add" name="FinalDiagnosis" class="form-control" placeholder="Enter final diagnosis" rows="3"></textarea>
                        </div>

                        <div class="col-md-4 mb-4">
                            <label for="InformantName-Add" class="control-label">Informant Name</label>
                            <input type="text" id="InformantName-Add" name="InformantName" class="form-control" placeholder="Enter informant name" />
                        </div>

                        <div class="col-md-4 mb-4">
                            <label for="RelationToPatient-Add" class="control-label">Informant relation to patient</label>
                            <input type="text" id="RelationToPatient-Add" name="RelationToPatient" class="form-control" placeholder="Enter relation" />
                        </div>

                        <div class="col-md-4 mb-4">
                            <label for="InformantAddress-Add" class="control-label">Informant Address</label>
                            <input type="text" id="InformantAddress-Add" name="InformantAddress" class="form-control" placeholder="Enter informant address" />
                        </div>

                        <div class="col-md-4 mb-4">
                            <label for="InformantContactNo-Add" class="control-label">Informant Contact No#</label>
                            <input type="number" id="InformantContactNo-Add" name="InformantContactNo" class="form-control" placeholder="Enter informant contact number" />
                        </div>
                        <div class="col-md-4 mb-4"></div>
                        <div class="col-md-4 mb-4"></div>

                        @* CONDITION ON DISCHARGED *@
                        <div class="col-md-6 mb-3">
                            <label class="control-label fw-bold">CONDITION ON DISCHARGED:</label>
                            <div class="form-check d-flex align-items-center mb-2 gap-2 mt-2">
                                <input type="checkbox" id="RecoveredCF-Add" name="Recoverred" class="custom-checkbox" value="true" />
                                <label for="RecoveredCF-Add" class="form-check-label">Recovered</label>
                            </div>
                            <div class="form-check d-flex align-items-center mb-2 gap-2 mt-2">
                                <input type="checkbox" id="ImprovedCF-Add" name="Improved" class="custom-checkbox" value="true" />
                                <label for="ImprovedCF-Add" class="form-check-label">Improved</label>
                            </div>
                            <div class="form-check d-flex align-items-center mb-2 gap-2 mt-2">
                                <input type="checkbox" id="UnImprovedCF-Add" name="UnImproved" class="custom-checkbox" value="true" />
                                <label for="UnImprovedCF-Add" class="form-check-label">UnImproved</label>
                            </div>
                        </div>


                        @* DISPOSITION *@
                        <div class="col-md-6 mb-3">
                            <label class="control-label fw-bold">DISPOSITION:</label>
                            <div class="form-check d-flex align-items-center mb-2 gap-2 mt-2">
                                <input type="checkbox" id="DischargedCF-Add" name="Discarged" class="custom-checkbox" value="true" />
                                <label for="DischargedCF-Add" class="form-check-label">Discharged</label>
                            </div>
                            <div class="form-check d-flex align-items-center mb-2 gap-2 mt-2">
                                <input type="checkbox" id="TransferredCF-Add" name="Transferred" class="custom-checkbox" value="true" />
                                <label for="TransferredCF-Add" class="form-check-label">Transferred</label>
                            </div>
                            <div class="form-check d-flex align-items-center mb-2 gap-2 mt-2">
                                <input type="checkbox" id="HamaCF-Add" name="Hama" class="custom-checkbox" value="true" />
                                <label for="HamaCF-Add" class="form-check-label">Hama</label>
                            </div>
                            <div class="form-check d-flex align-items-center mb-2 gap-2 mt-2">
                                <input type="checkbox" id="AbsscondedCF-Add" name="Abssconded" class="custom-checkbox" value="true" />
                                <label for="AbsscondedCF-Add" class="form-check-label">Abssconded</label>
                            </div>
                        </div>
                     
                        <div class="form-group col-md-6 mb-5">
                            <label for="MidwifeIDCF-Add" class="control-label">Midwife</label>
                            <select id="MidwifeIDCF-Add" class="form-select" name="MidwifeID" asp-items="ViewBag.midwifeList">
                                <option value="" class="text-muted" selected>select midwife</option>
                            </select>
                        </div>

                        @* Submit and Close Buttons *@
                        <div class="col-12 mt-3 d-flex justify-content-end">
                            <div class="d-flex align-items-center gap-2">
                                <button type="submit" class="btn btn-pink">Save</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

@* Edit Modal  *@
<div class="modal fade" id="CFEditModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-pink">
                <h5 class="modal-title">Edit Clinical Face Sheet Form</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="UpdateCFForm" method="POST">
                    @Html.AntiForgeryToken()

                    <div class="row">
                        <input type="hidden" id="cfId-Edit" name="Id" />
                        <input type="hidden" id="caseNoCF-Edit" name="CaseNo" />
                        <input type="hidden" id="patientIDCF-Edit" name="PatientID" />

                        <div class="col-md-4 mb-4">
                            <label for="TermBirths-Edit" class="control-label">Term Births (T)</label>
                            <input type="number" id="TermBirths-Edit" name="TermBirths" class="form-control" placeholder="Enter term births" />
                        </div>
                        <div class="col-md-4 mb-4">
                            <label for="Premature-Edit" class="control-label">Premature Births (P)</label>
                            <input type="number" id="Premature-Edit" name="Premature" class="form-control" placeholder="Enter premature births" />
                        </div>
                        <div class="col-md-4 mb-4">
                            <label for="Abortion-Edit" class="control-label">Abortion Births (A)</label>
                            <input type="number" id="Abortion-Edit" name="Abortion" class="form-control" placeholder="Enter abortion" />
                        </div>
                        <div class="col-md-4 mb-4">
                            <label for="LivingChildren-Edit" class="control-label">Living children (L)</label>
                            <input type="number" id="LivingChildren-Edit" name="LivingChildren" class="form-control" placeholder="Enter living children" />
                        </div>
                        <div class="col-md-4 mb-4">
                            <label for="Gravida-Edit" class="control-label">Gravida (G)</label>
                            <input type="number" id="Gravida-Edit" name="Gravida" class="form-control" placeholder="Enter gravida" />
                        </div>
                        <div class="col-md-4 mb-4">
                            <label for="Para-Edit" class="control-label">Para (P)</label>
                            <input type="number" id="Para-Edit" name="Para" class="form-control" placeholder="Enter para" />
                        </div>

                        <div class="col-md-8 mb-3">
                            <label for="Admitting-Edit" class="control-label">Admitting</label>
                            <input type="text" id="Admitting-Edit" name="Admitting" class="form-control" placeholder="Enter admitting" />
                        </div>

                        <div class="col-md-4 mb-4">
                            <label for="ICDCodes-Edit" class="control-label">ICD Codes</label>
                            <input type="text" id="ICDCodes-Edit" name="ICDCodes" class="form-control" value="080,9,Z39.0,Z39.2" placeholder="Enter ICD Codes" />
                        </div>

                        <div class="col-md-12 mb-3">
                            <label for="HistoryOfPatientPresentCondition-Edit" class="control-label">History of Patient Present Condition</label>
                            <textarea id="HistoryOfPatientPresentCondition-Edit" name="HistoryOfPatientPresentCondition" class="form-control" placeholder="Enter history of patient present condition" rows="3"></textarea>
                        </div>

                        <div class="col-md-12 mb-4">
                            <label for="FinalDiagnosis-Edit" class="control-label">Final Diagnosis</label>
                            <textarea id="FinalDiagnosis-Edit" name="FinalDiagnosis" class="form-control" placeholder="Enter final diagnosis" rows="3"></textarea>
                        </div>

                        <div class="col-md-4 mb-4">
                            <label for="InformantName-Edit" class="control-label">Informant Name</label>
                            <input type="text" id="InformantName-Edit" name="InformantName" class="form-control" placeholder="Enter informant name" />
                        </div>

                        <div class="col-md-4 mb-4">
                            <label for="RelationToPatient-Edit" class="control-label">Informant relation to patient</label>
                            <input type="text" id="RelationToPatient-Edit" name="RelationToPatient" class="form-control" placeholder="Enter relation" />
                        </div>

                        <div class="col-md-4 mb-4">
                            <label for="InformantAddress-Edit" class="control-label">Informant Address</label>
                            <input type="text" id="InformantAddress-Edit" name="InformantAddress" class="form-control" placeholder="Enter informant address" />
                        </div>

                        <div class="col-md-4 mb-4">
                            <label for="InformantContactNo-Edit" class="control-label">Informant Contact No#</label>
                            <input type="number" id="InformantContactNo-Edit" name="InformantContactNo" class="form-control" placeholder="Enter informant contact number" />
                        </div>
                        <div class="col-md-4 mb-4"></div>
                        <div class="col-md-4 mb-4"></div>

                        @* CONDITION ON DISCHARGED *@
                        <div class="col-md-6 mb-3">
                            <label class="control-label fw-bold">CONDITION ON DISCHARGED:</label>
                            <div class="form-check d-flex align-items-center mb-2 gap-2 mt-2">
                                <input type="checkbox" id="RecoveredCF-Edit" name="Recoverred" class="custom-checkbox" value="true" />
                                <label for="RecoveredCF-Edit" class="form-check-label">Recovered</label>
                            </div>
                            <div class="form-check d-flex align-items-center mb-2 gap-2 mt-2">
                                <input type="checkbox" id="ImprovedCF-Edit" name="Improved" class="custom-checkbox" value="true" />
                                <label for="ImprovedCF-Edit" class="form-check-label">Improved</label>
                            </div>
                            <div class="form-check d-flex align-items-center mb-2 gap-2 mt-2">
                                <input type="checkbox" id="UnImprovedCF-Edit" name="UnImproved" class="custom-checkbox" value="true" />
                                <label for="UnImprovedCF-Edit" class="form-check-label">UnImproved</label>
                            </div>
                        </div>


                        @* DISPOSITION *@
                        <div class="col-md-6 mb-3">
                            <label class="control-label fw-bold">DISPOSITION:</label>
                            <div class="form-check d-flex align-items-center mb-2 gap-2 mt-2">
                                <input type="checkbox" id="DischargedCF-Edit" name="Discarged" class="custom-checkbox" value="true" />
                                <label for="DischargedCF-Edit" class="form-check-label">Discharged</label>
                            </div>
                            <div class="form-check d-flex align-items-center mb-2 gap-2 mt-2">
                                <input type="checkbox" id="TransferredCF-Edit" name="Transferred" class="custom-checkbox" value="true" />
                                <label for="TransferredCF-Edit" class="form-check-label">Transferred</label>
                            </div>
                            <div class="form-check d-flex align-items-center mb-2 gap-2 mt-2">
                                <input type="checkbox" id="HamaCF-Edit" name="Hama" class="custom-checkbox" value="true" />
                                <label for="HamaCF-Edit" class="form-check-label">Hama</label>
                            </div>
                            <div class="form-check d-flex align-items-center mb-2 gap-2 mt-2">
                                <input type="checkbox" id="AbsscondedCF-Edit" name="Abssconded" class="custom-checkbox" value="true" />
                                <label for="AbsscondedCF-Edit" class="form-check-label">Abssconded</label>
                            </div>
                        </div>

                        <div class="form-group col-md-6 mb-5">
                            <label for="MidwifeIDCF-Edit" class="control-label">Midwife</label>
                            <select id="MidwifeIDCF-Edit" class="form-select" name="MidwifeID" asp-items="ViewBag.midwifeList">
                                <option value="" class="text-muted" selected>select midwife</option>
                            </select>
                        </div>

                        @* Submit and Close Buttons *@
                        <div class="col-12 mt-3 d-flex justify-content-end">
                            <div class="d-flex align-items-center gap-2">
                                <button type="submit" class="btn btn-pink">Save</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>



<script>
    var patID = document.getElementById('patID').value;
    var delID = document.getElementById('delID').value;

    $('#printCFBtn').on("click", function () {
        var caseNo = $(this).data('cfid');
        PrintForm(caseNo);
    });

    $("#UpdateCFForm").on("submit", function (e) {
        e.preventDefault();
        UpdateCF();
    });

    $("#editCFBtn").on("click", function () {
        var id = $(this).data('cfid');
        EditClinical(id);
    });

    // Update
    function UpdateCF() {
        var formData = $("#UpdateCFForm").serialize();
        $.ajax({
            url: '@Url.Action("UpdateCFRecord", "Delivery")',
            type: 'POST',
            data: formData,
            success: function (result) {
                if (result.isSuccess) {
                    $('#CFEditModal').modal('hide');
                    toastr.success(result.message)
                    LoadCFComponent();
                } else {
                    toastr.error(result.message);
                }
            },
            error: function (err) {
                toastr.error('An error occurred while updating the  record.');
                console.error('Error:', err);
            }
        });
    }
    // Edit
    function EditClinical(cfId) {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("GetCFRecord", "Delivery")',
            data: { id: cfId },
            success: function (response) {
                if (response && response.isSuccess) {
                    var item = response.item.data;
                    console.log(item)
                    // Populate modal fields
                    $('#cfId-Edit').val(item.id);
                    $('#caseNoCF-Edit').val(item.caseNo);
                    $('#patientIDCF-Edit').val(item.patientID);

                    $('#TermBirths-Edit').val(item.termBirths);
                    $('#Premature-Edit').val(item.premature);
                    $('#Abortion-Edit').val(item.abortion);
                    $('#LivingChildren-Edit').val(item.livingChildren);
                    $('#Gravida-Edit').val(item.gravida);
                    $('#Para-Edit').val(item.para);
                    $('#HistoryOfPatientPresentCondition-Edit').val(item.historyOfPatientPresentCondition);
                    $('#Admitting-Edit').val(item.admitting);
                    $('#ICDCodes-Edit').val(item.icdCodes);
                    $('#FinalDiagnosis-Edit').val(item.finalDiagnosis);
                    $('#InformantName-Edit').val(item.informantName);
                    $('#RelationToPatient-Edit').val(item.relationToPatient);
                    $('#InformantAddress-Edit').val(item.informantAddress);
                    $('#InformantContactNo-Edit').val(item.informantContactNo);
                    // Condition
                    $('#RecoveredCF-Edit').prop('checked', item.recoverred);
                    $('#ImprovedCF-Edit').prop('checked', item.improved);
                    $('#UnImprovedCF-Edit').prop('checked', item.unImproved);
                    // Disposition
                    $('#DischargedCF-Edit').prop('checked', item.discarged);
                    $('#TransferredCF-Edit').prop('checked', item.transferred);
                    $('#HamaCF-Edit').prop('checked', item.hama);
                    $('#AbsscondedCF-Edit').prop('checked', item.abssconded);

                    var midwife = response.item.midwife;
                    $('#MidwifeIDCF-Edit').empty().append('<option selected>select midwife</option>');
                    midwife.forEach(function (data) {
                        $('#MidwifeIDCF-Edit').append(
                            $('<option>', {
                                value: data.id,
                                text: data.firstname + " " + data.middlename + " " + data.lastname,
                                selected: item.midwifeID === data.id
                            })
                        );
                    });

                    // Show Edit Modal
                    $('#CFEditModal').modal('show');
                } else {
                    toastr.error(response.message || 'Unable to load clinical sheet record.');
                }
            },
            error: function () {
                toastr.error('An error occurred while loading the clinical sheet   record.');
            }
        });
    }


    $("#AddCFForm").on("submit", function (e) {
         e.preventDefault();
         AddCF();
     });

    //Add
    function AddCF() {
        var formData = $('#AddCFForm').serializeArray();
        formData.push({ name: 'patientID', value: patID });
        formData.push({ name: 'caseno', value: delID});

        $.ajax({
            url: '@Url.Action("AddCFForm", "Delivery")',
            type: 'POST',
            data: formData,
            success: function (result) {
                if (result.isSuccess) {
                    toastr.success(result.message)
                    LoadCFComponent();
                    $('#CFAddModal').modal('hide');
                } else {
                    toastr.error(result.message);
                }
            },
            error: function (err) {
                console.error('Error:', err);
            }
        });
    }


    //Load All Records
    function LoadCFComponent() {
        $.ajax({
            url: '@Url.Action("ClinicalRecords", "Delivery")',
            data: { patientId: patID, caseno: delID },
            success: function (result) {
                $('#clinicalSheet').html(result);
            },
            error: function () {
                toastr.error("Failed to reload the clinical sheet records.");
            }
        });
    }

     LoadAOGData();
    //Load All Records
    function LoadAOGData() {
        var id = document.getElementById('preID').value;
        if(id != null){
            $.ajax({
                url: '@Url.Action("GetAOGDataLast", "Delivery")',
                data: { caseno: id },
                success: function (result) {
                    if(result && result.isSuccess){
                        $('#aogData').text(result.item + " Weeks");
                    }else{
                        $('#aogData').text("N/A");
                    }
                },
                error: function () {
                    toastr.error("Failed to reload the clinical sheet records.");
                }
            });
        }

    }

    //PRINT
    function PrintForm(caseNo) {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("PrintCFForm", "Print")',
            data: { id: caseNo },
            success: function (response) {
                if (response && response.isSuccess === false) {
                    alert(response.message);
                } else if (response && response.isSuccess === true) {
                    window.location.href = "/Print/Clinical_Form?id=" + response.data;
                }
            },
            error: function (xhr, status, error) {
                // Handle error
                alert("An error occurred, Please ask the It support.");
            }
        });
    }
</script>
