@model List<NatalCare.Models.Entities.Newborn>

@{
    Layout = null;
}


<div class="table-responsive">
    <table class="table table-hover table-striped">
        <thead class="border-bottom-2">
            <tr>
                <th>Baby No</th>
                <th>Firstname</th>
                <th>Middlename</th>
                <th>Lastname</th>
                <th>Date Of Birth</th>
                <th>Time of Birth</th>
                <th>Mother Full Name</th>
                <th>Date Added</th>
                <th>Added By</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var item in Model)
                {
                    <tr class="align-middle">
                        <th>@item.NewbornID</th>
                        <td>@item.FirstName</td>
                        <td>@item.MiddleName</td>
                        <td>@item.LastName</td>
                        <td>@item.DateofBirth?.ToString("MMM dd yyyy")</td>
                        <td>@item.TimeofBirth</td>
                        <td>@item.Patient?.FirstName @item.Patient?.MiddleName @item.Patient?.LastName</td>
                        <td>@item.Created_At?.ToString("MMM dd yyyy h:mm tt")</td>
                        <td>@item.CreatedBy?.FirstName @item.CreatedBy?.LastName</td>
                        <td class="text-center">
                            <button id="retreiveBtn" class="btn btn-sm btn-outline-pink d-flex align-items-center gap-2" data-nbid="@item.NewbornID">
                                <i class="fa-solid fa-undo"></i>
                                <span>Retrieve</span>
                            </button>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="20" class="text-center">
                        No data available.
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>


<script>
    $("#retreiveBtn").on("click", function () {
        var nbid = $(this).data('nbid');
        retrieveRecord(nbid);
    });

    function retrieveRecord(id) {
        $.ajax({
            url: '@Url.Action("RetrieveRecord", "Newborn")',
            type: 'POST',
            data: { nbid: id },
            success: function (result) {
                if (result.isSuccess) {
                    toastr.success(result.message)
                    LoadAllNewbornComponent();
                    $('#deletedNBModal').modal('hide');
                } else {
                    toastr.error(result.message);
                }
            },
            error: function () {
                console.error("Failed to load patients data.");
            }
        });
    }
</script>
