@model List<NatalCare.Models.Entities.Newborn>


@{
    ViewData["Title"] = "Newborn Records";
    Layout = "_UserLayout";
}

<!-- NAVBAR -->
<partial name="Partial/_Navbar" />

<div class="mx-4">
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card shadow py-2 card-selected">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col mr-2">
                            <div class="fw-bold mb-1" style="font-size: 1em; color: var(--dark);">
                                Today New Born
                            </div>
                            <div class="h4 fw-bold my-3">
                                @(ViewBag.TodayRecord ?? 0)
                            </div>
                            <div class="fw-bold mb-1" style="font-size: .8em; color: var(--dark);">
                                Total Newborn <span class="h6">@(ViewBag.TodayRecord ?? 0)</span> today
                            </div>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-info">
                                <i class="fas fa-clock text-white" style="font-size: 20px;"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card shadow py-2 card-selected">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col mr-2">
                            <div class="fw-bold mb-1" style="font-size: 1em; color: var(--dark);">
                                Monthly New Born
                            </div>
                            <div class="h4 fw-bold my-3">
                                @(ViewBag.MonthlyRecord ?? 0)
                            </div>
                            <div class="fw-bold mb-1" style="font-size: .8em; color: var(--dark);">
                                Total Newborn <span class="h6">@(ViewBag.MonthlyRecord ?? 0)</span> this month
                            </div>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-warning">
                                <i class="fas fa-calendar" style="font-size: 20px;"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card shadow py-2 card-selected">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col mr-2">
                            <div class="fw-bold mb-1" style="font-size: 1em; color: var(--dark);">
                                Yearly New Born
                            </div>
                            <div class="h4 fw-bold my-3">
                                @(ViewBag.YearlyRecord ?? 0)
                            </div>
                            <div class="fw-bold mb-1" style="font-size: .8em; color: var(--dark);">
                                Total Newborn <span class="h6">@(ViewBag.YearlyRecord ?? 0)</span> this year
                            </div>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-success">
                                <i class="fas fa-calendar"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mb-4 mt-2 d-flex align-items-center justify-content-end gap-3">
        <a class="btn btn-pink d-flex align-items-center gap-2" asp-controller="Newborn" asp-action="Create">
            <i class="fas fa-baby" style="font-size: 18px;"></i>
            <strong>Add New Newborn</strong>
        </a>

        <button id="displayDeletedHistoryBtn" class="btn btn-outline-secondary">
            <i class="fas fa-trash"></i>
            <span>Deleted History Records</span>
        </button>
    </div>


    <div class="card shadow-sm card-selected">
        <div class="card-body" id="newbornsContainer">
            @await Component.InvokeAsync("NewbornRecords")
        </div>
    </div>
</div>


<!-- Deleted History Modal -->
<div class="modal fade" id="deletedNBModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger"><i class="fa-solid fa-trash"></i> Deleted Patient Records</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="deletedListContainer"></div>
            </div>
        </div>
    </div>
</div>




@section Scripts {
    <script>
        $(document).ready(function () {
            $('#displayDeletedHistoryBtn').on('click', function () {
                LoadDeletedHistoryNewborn();
            });
        });
        //Load All Deleted Records
        function LoadDeletedHistoryNewborn() {
            $.ajax({
                url: '@Url.Action("DisplayDeletedNewborn", "Newborn")',
                type: 'GET',
                success: function (result) {
                    $("#deletedListContainer").html(result);
                    $('#deletedNBModal').modal('show');
                },
                error: function () {
                    console.error("Failed to load patients data.");
                }
            });
        }
        //Load All Records Component
        function LoadAllNewbornComponent() {
            $.ajax({
                url: '@Url.Action("GetAllNewborns", "Newborn")',
                async: true,
                success: function (result) {
                    $('#newbornsContainer').html(result);
                },
                error: function () {
                    toastr.error("Failed to reload the patients records.");
                }
            });
        }
    </script>
}




