@model List<NatalCare.Models.Entities.Newborn>


@{
    ViewData["Title"] = "Newborn Records";
    Layout = "_UserLayout";
}

<!-- NAVBAR -->
<partial name="Partial/_Navbar" />

<div class="mx-4">
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card shadow py-2 card-selected">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col mr-2">
                            <div class="fw-bold mb-1" style="font-size: 1em; color: var(--dark);">
                                Today New Born
                            </div>
                            <div class="h4 fw-bold my-3">
                                @(ViewBag.TodayRecord ?? 0)
                            </div>
                            <div class="fw-bold mb-1" style="font-size: .8em; color: var(--dark);">
                                Total Newborn <span class="h6">@(ViewBag.TodayRecord ?? 0)</span> today
                            </div>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-info">
                                <i class="fas fa-clock text-white" style="font-size: 20px;"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card shadow py-2 card-selected">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col mr-2">
                            <div class="fw-bold mb-1" style="font-size: 1em; color: var(--dark);">
                                Monthly New Born
                            </div>
                            <div class="h4 fw-bold my-3">
                                @(ViewBag.MonthlyRecord ?? 0)
                            </div>
                            <div class="fw-bold mb-1" style="font-size: .8em; color: var(--dark);">
                                Total Newborn <span class="h6">@(ViewBag.MonthlyRecord ?? 0)</span> this month
                            </div>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-warning">
                                <i class="fas fa-calendar" style="font-size: 20px;"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card shadow py-2 card-selected">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col mr-2">
                            <div class="fw-bold mb-1" style="font-size: 1em; color: var(--dark);">
                                Yearly New Born
                            </div>
                            <div class="h4 fw-bold my-3">
                                @(ViewBag.YearlyRecord ?? 0)
                            </div>
                            <div class="fw-bold mb-1" style="font-size: .8em; color: var(--dark);">
                                Total Newborn <span class="h6">@(ViewBag.YearlyRecord ?? 0)</span> this year
                            </div>
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-success">
                                <i class="fas fa-calendar"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mb-4 mt-2 d-flex align-items-center justify-content-end">
        <a class="btn btn-pink d-flex align-items-center gap-2" asp-controller="Newborn" asp-action="Create">
            <i class="fas fa-baby" style="font-size: 18px;"></i>
            <strong>Add New Newborn</strong>
        </a>
    </div>

    <div class="card shadow-sm card-selected">
        <div class="card-body">
            <div class="table-responsive">
                <table id="newbornTable" class="table table-hover table-striped">
                    <thead class="border-bottom-2">
                        <tr>
                            <th>Baby No</th>
                            <th>Firstname</th>
                            <th>Middlename</th>
                            <th>Lastname</th>
                            <th>Date Of Birth</th>
                            <th>Time of Birth</th>
                            <th>Mother Full Name</th>
                            <th>Date Added</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.NewbornID</td>
                                <td>@item.FirstName</td>
                                <td>@item.MiddleName</td>
                                <td>@item.LastName</td>
                                <td>@item.DateofBirth?.ToString("MMM dd yyyy")</td>
                                <td>@item.TimeofBirth</td>
                                <td>@item.Patient?.FirstName @item.Patient?.MiddleName @item.Patient?.LastName</td>
                                <td>@item.Created_At?.ToString("MMM dd yyyy h:mm tt")</td>
                                <td>
                                    <div class="d-flex align-items-center justify-content-center gap-4">
                                        <a class="btn btn-sm btn-outline-secondary d-flex align-items-center justify-content-center gap-1" asp-controller="Newborn" asp-action="Information" asp-route-id="@item.NewbornID">
                                            <i class="fa-solid fa-list"></i>
                                            <span>Record</span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>

</div>




@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Initialize DataTables
            $('#newbornTable').DataTable({
                paging: true,
                lengthChange: true,
                searching: true,
                ordering: true,
                lengthMenu: [10, 20, 50, 100],
                language: {
                    search: "_INPUT_",
                    searchPlaceholder: "Search newborn..."
                },
                language: {
                    paginate: {
                        previous: "Previous",
                        next: "Next"
                    }
                },
                info: true,
                autoWidth: false,
                responsive: true,
                columnDefs: [
                    { orderable: false, targets: -1 }
                ]
            });

        });

    </script>

}



