@model List<NatalCare.Models.Entities.FamilyPlanning>

<h6 class="px-2">Family Planning Records</h6>
<div class="d-flex justify-content-end my-3 gap-3">
    <a asp-controller="" asp-action="" class="btn btn-sm btn-pink" data-bs-toggle="modal" data-bs-target="#FPAddModal" data-patient-id="@Model.FirstOrDefault()?.PatientID">
        <i class="fas fa-plus"></i>
        <span>Add New  Family Planning Record</span>
    </a>
    <button id="displayFPDeletedHistoryBtn" class="btn btn-sm btn-outline-secondary">
        <i class="fas fa-trash"></i>
        <span>Deleted History Records</span>
    </button>
</div>

<div class="d-flex align-items-center gap-2">
    <input type="text" placeholder="Search record..." class="form-control filterInput" style="width: 350px;">
</div>
<div class="table-responsive" style="max-height:600px;">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Case No#</th>
                <th>Date Visit</th>
                <th>No Living Children</th>
                <th>Plan to Have More Chidlren</th>
                <th>Method Type</th>
                <th>Average Monthly Income</th>
                <th>Spouse Name</th>
                <th>Spouse Name Occupation</th>
                <th>Notes</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.CaseNo</td>
                        <td>@item.DateVisit?.ToString("MMM dd yyyy h:mm tt")</td>
                        <td>@item.NoOfLivingChild</td>
                        <td>
                            @if (item.PlanToHaveMoreChildren == true)
                            {
                                <text>Yes</text>
                            }
                            else
                            {
                                <text>No</text>
                            }
                        </td>
                        <td>@item.MethodType</td>
                        <td>@item.AverageMonthlyIncome</td>
                        <td>@item.SpouseName</td>
                        <td>@item.SpouseOccupation</td>
                        <td style="max-width: 200px; word-wrap: break-word;">@item.Notes</td>
                        <td>
                            <div class="d-flex align-items-center justify-content-center gap-2">
                                <a asp-action="FamilyPlanningRecord" asp-route-id="@item.PatientID" class="btn btn-sm btn-outline-secondary">
                                    <i class="fa-solid fa-list"></i>
                                    <span>Details</span>
                                </a>
                                <button class="btn btn-sm btn-outline-primary editFP-Btn" data-caseno="@item.CaseNo">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                    <span>Edit</span>
                                </button>
                                <button class="btn btn-sm btn-outline-danger dltFP-Btn" data-caseno="@item.CaseNo">
                                    <i class="fa-solid fa-trash"></i>
                                    <span>Delete</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="20" class="text-center">
                        No data available.
                    </td>
                </tr>
            }
            <!-- No match found row -->
            <tr class="no-record-found" style="display: none;">
                <td colspan="30" class="text-center">No match found</td>
            </tr>
        </tbody>
    </table>
</div>


<!-- Add Family Planning Modal -->
<div class="modal fade" id="FPAddModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Family Planning Record</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="AddFPForm" method="POST">
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="lvChildren-Add" class="control-label">No Living Children</label>
                            <input id="lvChildren-Add" name="NoOfLivingChild" class="form-control" placeholder="Enter Number of Living Children" required />
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="plantoHaveChildren-Add" class="control-label">Plan to Have More Chidlren</label>
                            <select id="plantoHaveChildren-Add" name="PlanToHaveMoreChildren" class="form-select">
                                <option>Select Yes or No</option>
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="MethodType-Add" class="control-label">Method Type</label>
                            <input id="MethodType-Add" name="MethodType" class="form-control" placeholder="Enter Method Type(e.g, Pills,etc)" required />
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="AverageMonthlyIncome-Add" class="control-label">Average Monthly Income</label>
                            <input type="number" id="AverageMonthlyIncome-Add" name="AverageMonthlyIncome" class="form-control" placeholder="Enter Average Montly Income" required />
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="SpouseName" class="control-label">Spouse Name</label>
                            <input id="SpouseName-Add" name="SpouseName" class="form-control" placeholder="Enter Spouse Name" required />
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="SpouseOccupation" class="control-label">Spouse Occupation</label>
                            <input id="SpouseOccupation-Add" name="SpouseOccupation" class="form-control" placeholder="Enter Spouse Occupation" required />
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="DateVisitFP-Add" class="control-label">DateVisit</label>
                            <input type="datetime-local" id="DateVisitFP-Add" name="DateVisit" class="form-control" required />
                        </div>

                        <div class="col-md-12 mb-3">
                            <label for="NotesFP" class="control-label">Notes(Optional)</label>
                            <textarea id="NotesFP-Add" name="Notes" class="form-control" placeholder="Enter any relevant notes" rows="3"></textarea>
                        </div>

                        <div class="col-12 mt-3 d-flex justify-content-end">
                            <div class="d-flex align-items-center gap-2">
                                <button type="submit" class="btn btn-pink">Save</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Edit Family Planning Modal -->
<div class="modal fade" id="FPEditModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Family Planning Record</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="UpdateFPForm" method="POST">
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <input type="hidden" id="caseNoFP-Edit" name="CaseNo" />
                        <input type="hidden" id="patientIdFP-Edit" name="PatientID" />

                        <div class="col-md-6 mb-3">
                            <label for="lvChildren-Edit" class="control-label">No Living Children</label>
                            <input id="lvChildren-Edit" name="NoOfLivingChild" class="form-control" placeholder="Enter Number of Living Children" required />
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="plantoHaveChildren-Edit" class="control-label">Plan to Have More Chidlren</label>
                            <select id="plantoHaveChildren-Edit" name="PlanToHaveMoreChildren" class="form-select">
                                <option>Select Yes or No</option>
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="MethodType-Edit" class="control-label">Method Type</label>
                            <input id="MethodType-Edit" name="MethodType" class="form-control" placeholder="Enter Method Type(e.g, Pills,etc)" required />
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="AverageMonthlyIncome-Edit" class="control-label">Average Monthly Income</label>
                            <input type="number" id="AverageMonthlyIncome-Edit" name="AverageMonthlyIncome" class="form-control" placeholder="Enter Average Montly Income" required />
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="SpouseName-Edit" class="control-label">Spouse Name</label>
                            <input id="SpouseName-Edit" name="SpouseName" class="form-control" placeholder="Enter Spouse Name" required />
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="SpouseOccupation-Edit" class="control-label">Spouse Occupation</label>
                            <input id="SpouseOccupation-Edit" name="SpouseOccupation" class="form-control" placeholder="Enter Spouse Occupation" required />
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="DateVisitFP-Edit" class="control-label">DateVisit</label>
                            <input type="datetime-local" id="DateVisitFP-Edit" name="DateVisit" class="form-control" required />
                        </div>

                        <div class="col-md-12 mb-3">
                            <label for="NotesFP-Edit" class="control-label">Notes(Optional)</label>
                            <textarea id="NotesFP-Edit" name="Notes" class="form-control" placeholder="Enter any relevant notes" rows="3"></textarea>
                        </div>

                        <div class="col-12 mt-3 d-flex justify-content-end">
                            <div class="d-flex align-items-center gap-2">
                                <button type="submit" class="btn btn-primary">Update</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Deleted History Modal -->
<div class="modal fade" id="deletedFPModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger"><i class="fa-solid fa-trash"></i> Deleted Famiy Planning Records</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="FPDeletedListContainer"></div>
            </div>
        </div>
    </div>
</div>


<script>
    var patID = document.getElementById('patID').value;
    // Reset the form when the modal is hidden
    $('#FPAddModal').on('hidden.bs.modal', function () {
        var modal = $(this);
        modal.find('form')[0].reset();
    });

    $("#AddFPForm").on("submit", function (e) {
        e.preventDefault();
        AddFP();
    });

    $("#UpdateFPForm").on("submit", function (e) {
        e.preventDefault();
        UpdateFP();
    });

    $(".editFP-Btn").on("click", function () {
        var caseNo = $(this).data('caseno');
        EditFP(caseNo);
    });

    $(".dltFP-Btn").on("click", function () {
        var caseNo = $(this).data('caseno');
        DeleteFP(caseNo);
    });

    $('#displayFPDeletedHistoryBtn').on('click', function () {
        LoadFPDeletedHistoryPrenatal();
    });

    function LoadFPDeletedHistoryPrenatal() {
        $.ajax({
            url: '@Url.Action("DisplayDeletedFP", "FamilyPlanning")',
            type: 'GET',
            data: { patientId: patID },
            success: function (result) {
                $("#FPDeletedListContainer").html(result);
                $('#deletedFPModal').modal('show');
            },
            error: function () {
                console.error("Failed to load patients data.");
            }
        });
    }

    // Update Prenatal Record
    function UpdateFP() {
        var formData = $("#UpdateFPForm").serialize();
        $.ajax({
            url: '@Url.Action("UpdateFPRecord", "FamilyPlanning")',
            type: 'POST',
            data: formData,
            success: function (result) {
                if (result.isSuccess) {
                    toastr.success(result.message)
                    LoadFamilyPlanningComponent();
                    $('#FPEditModal').modal('hide');
                } else {
                    toastr.error(result.message);
                }
            },
            error: function (err) {
                toastr.error('An error occurred while updating the prenatal record.');
                console.error('Error:', err);
            }
        });
    }
    //Edit Prenatal
    function EditFP(caseNo) {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("EditFPRecord", "FamilyPlanning")',
            data: { caseNo: caseNo },
            success: function (result) {
                var item = result.item;
                if (result && result.isSuccess == true) {
                    $("#caseNoFP-Edit").val(item.caseNo);
                    $("#patientIdFP-Edit").val(item.patientID);
                    $("#lvChildren-Edit").val(item.noOfLivingChild);
                    $("#plantoHaveChildren-Edit").val(item.planToHaveMoreChildren ? "true" : "false");
                    $("#MethodType-Edit").val(item.methodType);
                    $("#AverageMonthlyIncome-Edit").val(item.averageMonthlyIncome);
                    $("#SpouseName-Edit").val(item.spouseName);
                    $("#SpouseOccupation-Edit").val(item.spouseOccupation);
                    $("#DateVisitFP-Edit").val(item.dateVisit);
                    $("#NotesFP-Edit").val(item.notes);
                    // Show Modal
                    $('#FPEditModal').modal('show');
                } else {
                    toastr.error(result.message || 'Unable to load family planning record.');
                }
            },
            error: function () {
                toastr.error('An error occurred while loading the prenatal record.');
                console.log('Unable to get the data.');
            }
        });
    }
    //Delete Prenatal
    function DeleteFP(caseNo) {
        Swal.fire({
            title: "Are you sure?",
            text: "You won't be able to revert this, but you can see this on deleted history!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes, delete it!"
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    type: 'DELETE',
                    url: '@Url.Action("DeleteFPRecord", "FamilyPlanning")',
                    data: { caseNo: caseNo },
                    success: function (result) {
                        if (result.isSuccess) {
                            toastr.success(result.message)
                            LoadFamilyPlanningComponent();
                        }else{
                            toastr.error(result.message);
                        }
                    },
                    error: function () {
                        console.log('Unable to get the data.');
                    }
                })
            }
        });



    }   
    //Add Prenatal
    function AddFP() {
        var patientId = $("#patID").val();
        var formData = $('#AddFPForm').serializeArray();
        formData.push({ name: 'patientID', value: patientId });

        $.ajax({
            url: '@Url.Action("AddFPRecord", "FamilyPlanning")',
            type: 'POST',
            data: formData,
            success: function (result) {
                if (result) {
                    toastr.success(result.message)
                    LoadFamilyPlanningComponent();
                    $('#AddFPForm').modal('hide');
                } else {
                    toastr.error(result.message);
                }
            },
            error: function (err) {
                console.error('Error:', err);
            }
        });
    }
    //Load All Records
    function LoadFamilyPlanningComponent() {
        $.ajax({
            url: '@Url.Action("FamilyPlanningRecords", "FamilyPlanning")',
            data: { patientId: patID },
            success: function (result) {
                $('#family-planning').html(result);
            },
            error: function () {
                toastr.error("Failed to reload the Family Planning records.");
            }
        });
    }
</script>