<div class="col-md-9">
    <div class="card card-selected mb-5">
        <div class="card-body c-details">
            <div class="d-flex align-items-center justify-content-between mb-3">
                <h5 class="card-title m-0">Newborn Information</h5>

                <button class="btn btn-sm btn-outline-pink mx-4" data-newbornid="@Model.NewbornID" data-bs-toggle="modal" data-bs-target="#nbDetailModal">
                    <i class="fas fa-eye"></i>
                    <span>See Baby Delivery History</span>
                </button>
            </div>
            <hr />

            <div class="row mx-4">
                <!-- Firstname -->
                <div class="form-group col-md-4 mb-2">
                    <label class="form-label">Firstname</label>
                    <input class="form-control text-capitalize" value="@Model.FirstName" disabled />
                </div>

                <!-- Middlename -->
                <div class="form-group col-md-4 mb-2">
                    <label class="form-label">Middlename</label>
                    <input class="form-control text-capitalize" value="@Model.MiddleName" disabled />
                </div>

                <!-- Lastname -->
                <div class="form-group col-md-4 mb-2">
                    <label class="form-label">Lastname</label>
                    <input class="form-control text-capitalize" value="@Model.LastName" disabled />
                </div>

                <!-- Age Calculation -->
                <div class="form-group col-md-4 mb-2">
                    <label class="form-label">Age</label>
                    @{
                        var birthdate = Model.DateofBirth;
                        var today = DateOnly.FromDateTime(DateTime.Now);

                        int years = today.Year - birthdate.Year;
                        int months = today.Month - birthdate.Month;

                        if (months < 0)
                        {
                            years--;
                            months += 12;
                        }

                        var ageDisplay = $"{years} year{(years == 1 ? "" : "s")}, {months} month{(months == 1 ? "" : "s")}";
                    }
                    <input class="form-control text-capitalize" value="@ageDisplay" disabled />
                </div>


                <!-- Gender -->
                <div class="form-group col-md-4 mb-2">
                    <label class="form-label">Gender</label>
                    <input class="form-control text-capitalize" value="@Model.Gender" disabled />
                </div>

                <!-- Birthdate -->
                <div class="form-group col-md-4 mb-2">
                    <label class="form-label">Birthdate</label>
                    <input class="form-control text-capitalize" value="@Model.DateofBirth?.ToString("MM/dd/yyyy")" disabled /> <!-- Adjusted to display formatted date -->
                </div>

                <!-- Birth Place -->
                <div class="form-group col-md-4 mb-2">
                    <label class="form-label">Birth Place</label>
                    <input class="form-control text-capitalize" value="@Model.PlaceOfBirth" disabled />
                </div>

                <!-- Address -->
                <div class="form-group col-md-4 mb-2">
                    <label class="form-label">Address</label>
                    <input class="form-control text-capitalize" value="@Model.Address" disabled />
                </div>
                
                <!-- Delivery Method -->
                <div class="form-group col-md-4 mb-2">
                    <label class="form-label">Delivery Method</label>
                    <input class="form-control text-capitalize" value="@Model.DeliveryType" disabled />
                </div>
            </div>

            <!-- Emergency Contact Section -->
            <div class="d-flex align-items-center justify-content-between mt-5 mb-3">
                <h5 class="card-title">Mother Information</h5>

                <button class="btn btn-sm btn-outline-pink mx-4" data-patientid="@Model.NewbornID" data-bs-toggle="modal" data-bs-target="#motherDetailModal">
                    <i class="fas fa-eye"></i>
                    <span>See Parent's Detailed</span>
                </button>
            </div>
            <hr />
            <div class="row mx-4">
                <div class="form-group col-md-4 mb-2">
                    <label class="form-label">Mother First Name</label>
                    <input class="form-control text-capitalize" value="@Model.Patient?.FirstName" disabled />
                </div>

                <div class="form-group col-md-4 mb-2">
                    <label class="form-label">Mother Middle Name</label>
                    <input class="form-control text-capitalize" value="@Model.Patient?.MiddleName" disabled />
                </div>

                <div class="form-group col-md-4 mb-2">
                    <label class="form-label">Mother Last Name</label>
                    <input class="form-control text-capitalize" value="@Model.Patient?.LastName" disabled />
                </div>
            </div>

            <div class="m-4 d-flex align-items-center justify-content-end">
                <div class="d-flex align-items-center gap-3">
                    <button class="btn btn-pink" id="printBtn" data-newbornid="@Model.NewbornID">
                        <i class="fas fa-save"></i>
                        <span>Print</span>
                    </button>

                    <a class="btn btn-primary d-flex align-items-center justify-content-center gap-1" asp-controller="Newborn" asp-action="Edit" asp-route-id="@Model.NewbornID">
                        <i class="fa-solid fa-pen-to-square"></i>
                        <span>Edit Newborn</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Newborn Information Modal -->
<div class="modal fade" id="nbDetailModal" tabindex="-1" aria-labelledby="bbDetailedModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-pink">
                <h5 class="modal-title" id="bbDetailedModalLabel">Newborn Information - Baby Delivery History</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5 class="card-title mb-3">Baby Information</h5>
                <div class="row">
                    <!-- Baby Name -->
                    <div class="form-group col-md-4 mb-3">
                        <label>Baby Name</label>
                        <input class="form-control" value="@Model.FirstName" disabled />
                    </div>

                    <!-- Date and Time of Birth -->
                    <div class="form-group col-md-4 mb-3">
                        <label>Date of Birth</label>
                        <input class="form-control" value="@Model.DateofBirth?.ToString("MM/dd/yyyy")" disabled />
                    </div>
                    <div class="form-group col-md-4 mb-3">
                        <label>Time of Birth</label>
                        <input class="form-control" value="@Model.TimeofBirth" disabled />
                    </div>

                    <!-- Gender -->
                    <div class="form-group col-md-4 mb-3">
                        <label>Gender</label>
                        <input class="form-control" value="@Model.Gender" disabled />
                    </div>

                    <!-- Delivery Method -->
                    <div class="form-group col-md-4 mb-3">
                        <label>Delivery Method</label>
                        <input class="form-control" value="@Model.DeliveryType" disabled />
                    </div>
                </div>

                <hr class="my-3" />

                <!-- Measurements -->
                <h5 class="card-title mb-3">Measurements</h5>
                <div class="row">
                    <div class="form-group col-md-4 mb-3">
                        <label>Head Circumference</label>
                        <input class="form-control" value="@Model.HeadCircumference cm" disabled />
                    </div>
                    <div class="form-group col-md-4 mb-3">
                        <label>Chest Circumference</label>
                        <input class="form-control" value="@Model.ChestCircumference cm" disabled />
                    </div>
                    <div class="form-group col-md-4 mb-3">
                        <label>Mid-Arm Circumference</label>
                        <input class="form-control" value="@Model.MidArmCircumference cm" disabled />
                    </div>
                    <div class="form-group col-md-4 mb-3">
                        <label>Length</label>
                        <input class="form-control" value="@Model.Length cm" disabled />
                    </div>

                    <!-- Vital Information -->
                    <div class="form-group col-md-4 mb-3">
                        <label>Temperature</label>
                        <input class="form-control" value="@Model.Temp C" disabled />
                    </div>
                    <div class="form-group col-md-4 mb-3">
                        <label>Weight</label>
                        <input class="form-control" value="@Model.Weight grams" disabled />
                    </div>
                    <div class="form-group col-md-4 mb-3">
                        <label>APGAR Score</label>
                        <input class="form-control" value="@Model.APGAR" disabled />
                    </div>
                    <div class="form-group col-md-4 mb-3">
                        <label>Medication</label>
                        <input class="form-control" value="@Model.Medication" disabled />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-4 mb-3">
                        <label>Midwife</label>
                        <input class="form-control" value="@Model.Midwife?.FirstName @Model.Midwife?.MiddleName @Model.Midwife?.LastName" disabled />
                    </div>
                    <div class="form-group col-md-4 mb-3">
                        <label>Physician</label>
                        <input class="form-control" value="@Model.Physician?.FirstName @Model.Physician?.MiddleName @Model.Physician?.LastName" disabled />
                    </div>
                    <div class="form-group col-md-4 mb-3">
                        <label>Assisted By</label>
                        <input class="form-control" value="@Model.AssisstedBy?.FirstName @Model.AssisstedBy?.MiddleName @Model.AssisstedBy?.LastName" disabled />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Mother Information Modal -->
<div class="modal fade" id="motherDetailModal" tabindex="-1" aria-labelledby="motherDetailedModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-pink">
                <h5 class="modal-title" id="motherDetailedModalLabel">Parent Information - Detailed View</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5 class="card-title mb-3">Mother Information: <span class="text-pink">@Model.Patient.PatientID</span></h5>
                <div class="row">
                    <!-- Mother Name -->
                    <div class="form-group col-md-4 mb-3">
                        <label>First Name</label>
                        <input class="form-control" value="@Model.Patient.FirstName" disabled />
                    </div>
                    <div class="form-group col-md-4 mb-3">
                        <label>Middle Name</label>
                        <input class="form-control" value="@Model.Patient.MiddleName" disabled />
                    </div>
                    <div class="form-group col-md-4 mb-3">
                        <label>Last Name</label>
                        <input class="form-control" value="@Model.Patient.LastName" disabled />
                    </div>

                    <!-- Birth and Address Details -->
                    <div class="form-group col-md-4 mb-3">
                        <label>Date of Birth</label>
                        <input class="form-control" value="@Model.Patient.Birthdate?.ToString("MM/dd/yyyy")" disabled />
                    </div>
                    <div class="form-group col-md-4 mb-3">
                        <label>Place of Birth</label>
                        <input class="form-control" value="@Model.Patient.PlaceOfBirth" disabled />
                    </div>
                    <div class="form-group col-md-4 mb-3">
                        <label>Address</label>
                        <input class="form-control" value="@Model.Patient.Address" disabled />
                    </div>

                    <!-- Contact and Personal Info -->
                    <div class="form-group col-md-4 mb-3">
                        <label>Gender</label>
                        <input class="form-control" value="@Model.Patient.Gender" disabled />
                    </div>
                    <div class="form-group col-md-4 mb-3">
                        <label>Occupation</label>
                        <input class="form-control" value="@Model.Patient.Occupation" disabled />
                    </div>
                    <div class="form-group col-md-4 mb-3">
                        <label>Civil Status</label>
                        <input class="form-control" value="@Model.Patient.CivilStatus" disabled />
                    </div>
                    <div class="form-group col-md-4 mb-3">
                        <label>Mobile Number</label>
                        <input class="form-control" value="@Model.Patient.MobileNumber" disabled />
                    </div>
                    <div class="form-group col-md-4 mb-3">
                        <label>Telephone Number</label>
                        <input class="form-control" value="@Model.Patient.TeleNumber" disabled />
                    </div>
                    <div class="form-group col-md-4 mb-3">
                        <label>Religion</label>
                        <input class="form-control" value="@Model.Patient.Religion" disabled />
                    </div>
                    <div class="form-group col-md-4 mb-3">
                        <label>Blood Type</label>
                        <input class="form-control text-uppercase" value="@Model.Patient.BloodType" disabled />
                    </div>
                    <div class="form-group col-md-4 mb-2">
                        <label>Nationality</label>
                        <input class="form-control text-capitalize" value="@Model.Patient.Nationality" disabled />
                    </div>
                    @if (Model.Patient.HasPhilHealth == true)
                    {
                    <div class="form-group col-md-4 mb-3">
                        <label>PhilHealth Number</label>
                        <input class="form-control" value="@Model.Patient.PHIC_NO" disabled />
                    </div>
                    }

                    <!-- Father Information-->
                    <h5 class="card-title my-3">Father Information</h5>
                    <div class="form-group col-md-4 mb-3">
                        <label>First Name</label>
                        <input class="form-control" value="@Model.Father?.FirstName" disabled />
                    </div>
                    <div class="form-group col-md-4 mb-3">
                        <label>Middle Name</label>
                        <input class="form-control" value="@Model.Father?.MiddleName" disabled />
                    </div>
                    <div class="form-group col-md-4 mb-3">
                        <label>Last Name</label>
                        <input class="form-control" value="@Model.Father?.LastName" disabled />
                    </div>

                    <div class="form-group col-md-4 mb-3">
                        <label>Address</label>
                        <input class="form-control" value="@Model.Father.Address" disabled />
                    </div>

                    <div class="form-group col-md-4 mb-3">
                        <label>Date of Birth</label>
                        <input class="form-control" value="@Model.Father.Birthdate?.ToString("MM/dd/yyyy")" disabled />
                    </div>

                    <div class="form-group col-md-4 mb-3">
                        <label>Gender</label>
                        <input class="form-control" value="@Model.Father.Gender" disabled />
                    </div>
                    <div class="form-group col-md-4 mb-3">
                        <label>Occupation</label>
                        <input class="form-control" value="@Model.Father.Occupation" disabled />
                    </div>
                    <div class="form-group col-md-4 mb-2">
                        <label>Nationality</label>
                        <input class="form-control text-capitalize" value="@Model.Father.Nationality" disabled />
                    </div>


                    <!-- Emergency Contact -->
                    <h5 class="card-title my-3">Emergency Contact Information</h5>
                    <div class="form-group col-md-4 mb-3">
                        <label>Emergency Name</label>
                        <input class="form-control" value="@Model.Patient.Emergency_Name" disabled />
                    </div>
                    <div class="form-group col-md-4 mb-3">
                        <label>Emergency Contact</label>
                        <input class="form-control" value="@Model.Patient.Emergency_MobileNumber" disabled />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<script>
    document.addEventListener('DOMContentLoaded', function () {
        $('#printBtn').on("click", function () {
            var newbornId = $(this).data('newbornid');
            PrintForm(newbornId);
        });
    });



    function PrintForm(newbornId) {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("PrintNewbornForm", "Print")',
            data: { id: newbornId },
            success: function (response) {
                if (response && response.isSuccess === false) {
                    alert(response.message);
                } else if (response && response.isSuccess === true) {
                    window.location.href = "/Print/Newborn_Form?id=" + response.newborn.newbornID;
                }
            },
            error: function (xhr, status, error) {
                // Handle error
                alert("An error occurred, Please ask the It support.");
            }
        });
    }
    
</script>
