<div class="col-md-9">
    <div class="card card-selected mb-5">
        <div class="card-body c-details">
            <!-- Head Section -->
            <div class="d-flex align-items-center justify-content-between">
                <h5 class="card-title m-0">Patient Information</h5>

                <div class="d-flex align-items-center gap-3">
                    <button class="btn btn-sm btn-pink" id="printBtn" data-patientid="@Model.PatientID">
                        <i class="fas fa-save"></i>
                        <span>Print</span>
                    </button>

                    <a class="btn btn-sm btn-primary d-flex align-items-center justify-content-center gap-1" asp-controller="Patient" asp-action="Edit" asp-route-id="@Model.PatientID">
                        <i class="fa-solid fa-pen-to-square"></i>
                        <span>Edit Patient</span>
                    </a>
                </div>
            </div>

            <hr />

            <div class="row mx-4">
                <!-- Firstname -->
                <div class="form-group col-md-4 mb-2">
                    <label class="form-label">Firstname</label>
                    <input class="form-control text-capitalize" value="@Model.FirstName" disabled />
                </div>

                <!-- Middlename -->
                <div class="form-group col-md-4 mb-2">
                    <label class="form-label">Middlename</label>
                    <input class="form-control text-capitalize" value="@Model.MiddleName" disabled />
                </div>

                <!-- Lastname -->
                <div class="form-group col-md-4 mb-2">
                    <label class="form-label">Lastname</label>
                    <input class="form-control text-capitalize" value="@Model.LastName" disabled />
                </div>

                <!-- Age Calculation -->
                <div class="form-group col-md-4 mb-2">
                    <label class="form-label">Age</label>
                    @{
                        var birthdate = Model.Birthdate;
                        var age = DateTime.Now.Year - birthdate.Year;
                    }
                    <input class="form-control text-capitalize" value="@age" disabled />
                </div>

                <!-- Gender -->
                <div class="form-group col-md-4 mb-2">
                    <label class="form-label">Gender</label>
                    <input class="form-control text-capitalize" value="@Model.Gender" disabled />
                </div>

                <!-- Birthdate -->
                <div class="form-group col-md-4 mb-2">
                    <label class="form-label">Birthdate</label>
                    <input class="form-control text-capitalize" value="@Model.Birthdate.ToString("MMM dd yyyy")" disabled /> <!-- Adjusted to display formatted date -->
                </div>

                <!-- Birth Place -->
                <div class="form-group col-md-6 mb-2">
                    <label class="form-label">Birth Place</label>
                    <input class="form-control text-capitalize" value="@(Model.PlaceOfBirth != null ?  Model.PlaceOfBirth : " N/A" )" disabled />
                </div>

                <!-- Address -->
                <div class="form-group col-md-6 mb-2">
                    <label class="form-label">Address</label>
                    <input class="form-control text-capitalize" value="@(Model.Address != null ?  Model.Address : " N/A" )" disabled />
                </div>

                <!-- Occupation -->
                <div class="form-group col-md-4 mb-2">
                    <label class="form-label">Occupation</label>
                    <input class="form-control text-capitalize" value="@(Model.Occupation != null ?  Model.Occupation : " N/A" )" disabled />
                </div>

                <!-- Phone Number -->
                <div class="form-group col-md-4 mb-2">
                    <label class="form-label">Phone Number</label>
                    <input class="form-control text-capitalize" value="@(Model.MobileNumber != null ?  Model.MobileNumber : " N/A" )" disabled />
                </div>

                <!-- Telephone Number -->
                <div class="form-group col-md-4 mb-2">
                    <label class="form-label">Telephone Number</label>
                    <input class="form-control text-capitalize" value="@(Model.TeleNumber != null ?  Model.TeleNumber : " N/A" )" disabled />
                </div>

                <!-- Blood Type -->
                <div class="form-group col-md-4 mb-2">
                    <label class="form-label">Blood Type</label>
                    <input class="form-control text-capitalize" value="@(Model.BloodType  != null ?  Model.BloodType : " N/A" )" disabled />
                </div>

                <!-- Religion -->
                <div class="form-group col-md-4 mb-2">
                    <label class="form-label">Religion</label>
                    <input class="form-control text-capitalize" value="@(Model.Religion != null ?  Model.Religion : "N/A"  )" disabled />
                </div>
                <!-- Nationality -->
                <div class="form-group col-md-4 mb-2">
                    <label class="form-label">Nationality</label>
                    <input class="form-control text-capitalize" value="@(Model.Nationality != null ?  Model.Nationality : " N/A" )" disabled />
                </div>
            </div>
            <!-- Emergency Contact Section -->
            <h5 class="card-title mt-4 mb-3">Emergency Contact</h5>
            <hr />
            <div class="row mx-4">
                <div class="form-group col-md-6 mb-2">
                    <label class="form-label">Emergency Contact Name</label>
                    <input class="form-control text-capitalize" value="@(Model.Emergency_Name != null ?  Model.Emergency_Name : " N/A" )" disabled />
                </div>
                <div class="form-group col-md-6 mb-2">
                    <label class="form-label">Emergency Contact Phonenumber</label>
                    <input class="form-control text-capitalize" value="@(Model.Emergency_MobileNumber != null ?  Model.Emergency_MobileNumber : " N/A" )" disabled />
                </div>
            </div>
            <!-- Insurance Section -->
            <h5 class="card-title mt-4 mb-3">Insurance Details</h5>
            <hr />
            <div class="row mx-4">
                <div class="form-group col-md-6 mb-2">
                    <label class="form-label">PhilHealth Number</label>
                    <input class="form-control text-capitalize" value="@(Model.PHIC_NO != null ?  Model.PHIC_NO : " N/A" )" disabled />
                </div>
            </div>

            <!-- Spouse Section -->
            <h5 class="card-title mt-4 mb-3">Spouse / Partner's Information</h5>
            <hr />
            <div class="row mx-4">
                <div class="form-group col-md-4 mb-2">
                    <label class="form-label">Firstname</label>
                    <input class="form-control text-capitalize" value="@(Model.Spouse?.FirstName != null ?  Model.Spouse?.FirstName : " N/A" )" disabled />
                </div>
                <div class="form-group col-md-4 mb-2">
                    <label class="form-label">MiddleName</label>
                    <input class="form-control text-capitalize" value="@(Model.Spouse?.MiddleName != null ?  Model.Spouse?.MiddleName : " N/A" )" disabled />
                </div>
                <div class="form-group col-md-4 mb-2">
                    <label class="form-label">LastName</label>
                    <input class="form-control text-capitalize" value="@(Model.Spouse?.LastName != null ?  Model.Spouse?.LastName : " N/A" )" disabled />
                </div>
                <div class="form-group col-md-4 mb-2">
                    <label class="form-label">Birthdate</label>
                    <input class="form-control text-capitalize" value="@(Model.Spouse?.Birthdate != null ? Model.Spouse?.Birthdate?.ToString("MMM dd yyyy") : "N/A")" disabled />
                </div>
                <div class="form-group col-md-4 mb-2">
                    <label class="form-label">Address</label>
                    <input class="form-control text-capitalize" value="@(Model.Spouse?.Address != null ?  Model.Spouse?.Address : " N/A" )" disabled />
                </div>
                <div class="form-group col-md-4 mb-2">
                    <label class="form-label">Gender</label>
                    <input class="form-control text-capitalize" value="@(Model.Spouse?.Gender != null ?  Model.Spouse?.Gender : " N/A" )" disabled />
                </div>
                <div class="form-group col-md-4 mb-2">
                    <label class="form-label">Occupation</label>
                    <input class="form-control text-capitalize" value="@(Model.Spouse?.Occupation != null ?  Model.Spouse?.Occupation : " N/A" )" disabled />
                </div>
                <div class="form-group col-md-4 mb-2">
                    <label class="form-label">Nationality</label>
                    <input class="form-control text-capitalize" value="@(Model.Spouse?.Nationality != null ?  Model.Spouse?.Nationality : " N/A" )" disabled />
                </div>
            </div>

           
        </div>
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        $('#printBtn').on("click", function () {
            var patentId = $(this).data('patientid');
            PrintForm(patentId);
        });
    });



    function PrintForm(patentId) {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("PrintPatientForm", "Print")',
            data: { id: patentId },
            success: function (response) {
                if (response && response.isSuccess === false) {
                    alert(response.message);
                } else if (response && response.isSuccess === true) {
                    window.location.href = "/Print/Patient_Form?id=" + response.patientId;
                }
            },
            error: function (xhr, status, error) {
                // Handle error
                alert("An error occurred, Please ask the It support.");
            }
        });
    }

</script>
