@model List<NatalCare.Models.Entities.Payments>


<div class="table-responsive">
    <table id="invoiceTable" class="table table-hover table-striped" >
        <thead class="border-bottom-2">
            <tr>
                <th>Bill No.</th>
                <th>Patient Nanme</th>
                <th>Bill Amount</th>
                <th>Paid Amount</th>
                <th>Payment Mode</th>
                <th>Status</th>
                <th>Date</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody style="text-align:center;">
            @foreach (var payment in Model)
            {
                <tr class="align-middle">

                    <th>@payment.PaymentID</th>
                    <td>@payment.Patient?.FirstName @payment.Patient?.MiddleName @payment.Patient?.LastName</td>
                    <td>@payment.Total_Amount</td>
                    <td>@payment.Final_Amount</td>
                    <td>@payment.Payment_Status</td>
                    <td>@payment.Notes</td>
                    <td>@payment.PhilHealth_Deduction</td>
                    <td class="text-center">
                        <div class="d-flex align-items-center justify-content-center gap-2">
                            <a class="btn btn-sm btn-outline-secondary d-flex align-items-center justify-content-center gap-1" asp-controller="Patient" asp-action="Information" asp-route-id="@payment.PatientID">
                                <i class="fa-solid fa-list"></i>
                                <span>Record</span>
                            </a>
                            |
                            <button class="btn btn-sm btn-outline-danger dlt-Btn" data-patientid="@payment.PatientID">
                                <i class="fa-solid fa-trash"></i>
                                <span>Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        // Initialize DataTables
        $('#invoiceTable').DataTable({
            paging: true,
            lengthChange: true,
            searching: true,
            ordering: true,
            lengthMenu: [10, 20, 50, 100],
            language: {
                search: "_INPUT_",
                searchPlaceholder: "Search Invoice..."
            },
            language: {
                paginate: {
                    previous: "Previous",
                    next: "Next"
                }
            },
            info: true,
            autoWidth: false,
            responsive: true,
            columnDefs: [
                { orderable: false, targets: -1 }
            ]
        });

        $('#invoiceTable').on("click", ".dlt-Btn", function (e) {
            var patientid = $(this).data('patientid');
            DeletePatient(patientid);
        });

        // Delete Patient
        function DeletePatient(patientid) {
            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this, but you can see this on deleted history!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!"
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: 'DELETE',
                        url: '@Url.Action("Delete", "Patient")',
                        data: { patientid: patientid },
                        success: function (result) {
                            if (result.isSuccess) {
                                toastr.success(result.message);
                                LoadAllPatientsComponent();
                            } else {
                                toastr.error(result.message);
                            }
                        },
                        error: function () {
                            console.log('Unable to delete the patient.');
                        }
                    });
                }
            });
        }
    });
</script>