@model List<NatalCare.Models.Entities.Prenatal>

@{
    Layout = null;
}

<div class="table-responsive">
    <table id="deletedPrenetalTable" class="table table-hover table-striped table-datatable">
        <thead class="border-bottom-2">
            <tr>
                <th>Case No#</th>
                <th>Date Visit</th>
                <th>Gravida</th>
                <th>Para</th>
                <th>Abortion</th>
                <th>Still Birth</th>
                <th>LMP</th>
                <th>EDC</th>
                <th>H.R Code</th>
                <th>Notes</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.CaseNo</td>
                    <td>@item.DateVisit?.ToString("MMM dd yyyy h:mm tt")</td>
                    <td>@item.Gravida</td>
                    <td>@item.Para</td>
                    <td>@item.Abortion</td>
                    <td>@item.StillBirth</td>
                    <td>@item.LMP?.ToString("MMM dd yyyy")</td>
                    <td>@item.EDC?.ToString("MMM dd yyyy")</td>
                    <td>@item.HRCODE</td>
                    <td>@item.Notes</td>
                    <td>
                        <button id="retreiveBtn" class="btn btn-sm btn-outline-pink d-flex align-items-center gap-2" data-caseno="@item.CaseNo">
                            <i class="fa-solid fa-undo"></i>
                            <span>Retrieve</span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<script>
    // Initialize DataTables
    $('#deletedListContainer #deletedPrenetalTable').DataTable({
        paging: true,
        lengthChange: true,
        searching: true,
        ordering: true,
        lengthMenu: [10, 20, 50, 100],
        language: {
            search: "_INPUT_",
            searchPlaceholder: "Search record..."
        },
        language: {
            paginate: {
                previous: "Previous",
                next: "Next"
            }
        },
        info: true,
        autoWidth: false,
        responsive: true,
        columnDefs: [
            { orderable: false, targets: -1 }
        ]
    });

    $("#retreiveBtn").on("click", function () {
        var caseno = $(this).data('caseno');
        retrieveRecord(caseno);
    });

    function retrieveRecord(caseno) {
        $.ajax({
            url: '@Url.Action("RetrievePrenatalRecord", "Prenatal")',
            type: 'POST',
            data: { caseno: caseno },
            success: function (result) {
                if (result.isSuccess) {
                    toastr.success(result.message)
                    LoadPrenatalComponent();
                    $('#deletedPreModal').modal('hide');
                } else {
                    toastr.error(result.message);
                }
            },
            error: function () {
                console.error("Failed to load patients data.");
            }
        });
    }
</script>


