@using NatalCare.Models.ViewModel.Patient
@model PatientsVM

@{
    ViewData["Title"] = "Patient / Prenatal Record";
    Layout = "_UserLayout";
}

<!-- NAVBAR -->
<partial name="Partial/_Navbar" />

<div class="mx-4">
    <div class="d-flex align-items-center justify-content-start gap-3 mb-3">
        <a asp-controller="Patient" asp-action="MedicalRecords" asp-route-id="@Model.Patient.PatientID" class="btn btn-sm btn-outline-pink">
            <i class="fas fa-arrow-left"></i>
            <span>Back</span>
        </a>
        <h5 class="fw-bold m-0 text-capitalize">@Model.Patient.FirstName @Model.Patient.MiddleName @Model.Patient.LastName</h5>
    </div>
    <div class="card shadow-sm card-selected">
        <div class="card-body">
            <h5 class="text-center fst-italic pt-2">Prenatal Records</h5>
            <div class="d-flex justify-content-end my-3">
                <div class="d-flex align-items-center gap-3">
                    <a asp-controller="" asp-action="" class="btn btn-sm btn-pink" data-bs-toggle="modal" data-bs-target="#prenatalVisitAddModal">
                        <i class="fas fa-plus"></i>
                        <span>Add New Visit</span>
                    </a>
                    <a asp-controller="" asp-action="" class="btn btn-sm btn-outline-pink" data-bs-toggle="modal" data-bs-target="#prenatalVisitDetailModal">
                        <i class="fas fa-eye"></i>
                        <span>See All Detailed</span>
                    </a>
                </div>
            </div>

            <div class="px-2">
                <div class="d-flex align-items-center gap-2" style="cursor:pointer;">
                    <span class="h6">Patient No#:</span>
                    <h3 class="btn btn-sm btn-outline-pink fw-bold border-0" style="font-size: 14px;">@Model.Patient.PatientID</h3>
                    <input type="hidden" id="patID" name="patientID" value="@Model.Patient.PatientID" />
                </div>
                <div class="d-flex align-items-center gap-2" style="cursor:pointer;">
                    <span class="h6">Case No#:</span>
                    <h3 class="btn btn-sm btn-outline-pink fw-bold border-0" style="font-size: 14px;">@Model.PrenatalRecord.CaseNo</h3>
                    <input type="hidden" id="caseID" name="patientID" value="@Model.PrenatalRecord.CaseNo" />
                </div>
            </div>

            <div class="d-flex align-items-center justify-content-end  px-2 mb-2">
                <input type="text" placeholder="Search record..." class="form-control filterInput" style="width: 350px;">
            </div>

            <div class="table-responsive" style="max-height: 700px;">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Number of Visit</th>
                            <th>Date Visit</th>
                            <th>AOG Week</th>
                            <th>Weight</th>
                            <th>BP</th>
                            <th>FH</th>
                            <th>FHT</th>
                            <th>Temperature</th>
                            <th>CR</th>
                            <th>RR</th>
                            <th>Physical Asssessment</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Sample Data -->
                        @if (Model.PrenatalVisitRecords != null && Model.PrenatalVisitRecords.Any())
                        {
                            @foreach (var item in Model.PrenatalVisitRecords)
                            {
                                <tr>
                                    <td>@item.NumberOfVisit visit</td>
                                    <td>@item.DateVisit?.ToString("MMM dd yyyy h:mm tt")</td>
                                    <td>@item.AOGWeek</td>
                                    <td>@item.Weight</td>
                                    <td>@item.BP</td>
                                    <td>@item.FH</td>
                                    <td>@item.FHT</td>
                                    <td>@item.Temp</td>
                                    <td>@item.CR</td>
                                    <td>@item.RR</td>
                                    <td>@item.PhysicalAssessment</td>
                                    <td>
                                        <div class="d-flex align-items-center justify-content-center gap-2">
                                            <a class="detail-Btn btn btn-sm btn-outline-secondary d-flex align-items-center justify-content-center gap-1" data-caseno="@item.CaseNo">
                                                <i class="fa-solid fa-list"></i>
                                                <span>Details</span>
                                            </a>
                                            <a class="edit-Btn btn btn-sm btn-outline-primary d-flex align-items-center justify-content-center gap-1" data-caseno="@item.CaseNo">
                                                <i class="fa-solid fa-pen-to-square"></i>
                                                <span>Edit</span>
                                            </a>
                                            <a class="dlt-Btn btn btn-sm btn-outline-danger d-flex align-items-center justify-content-center gap-1" data-caseno="@item.CaseNo">
                                                <i class="fa-solid fa-trash"></i>
                                                <span>Delete</span>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="20" class="text-center">
                                    No data available.
                                </td>
                            </tr>
                        }

                        <!-- No match found row -->
                        <tr class="no-record-found" style="display: none;">
                            <td colspan="30" class="text-center">No match found</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<!-- Add Prenatal Visit Modal -->
<div class="modal fade" id="prenatalVisitAddModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Prenatal Visit Record</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="AddPrenatalVisitForm" method="POST">
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="numOfVisit-Add" class="control-label">Number of Visit</label>
                            <input type="number" id="numOfVisit-Add" name="NumberOfVisit" class="form-control" placeholder="Enter number of Visit" required />
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="AOGWeek-Add" class="control-label">AOG Week</label>
                            <input id="AOGWeek-Add" name="AOGWeek" class="form-control" placeholder="Enter AOG Week" required />
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="Weight-Add" class="control-label">Weight</label>
                            <input id="Weight-Add" name="Weight" class="form-control" placeholder="Enter Weight" required />
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="BP-Add" class="control-label">Blood Pressure</label>
                            <input id="BP-Add" name="BP" class="form-control" placeholder="Enter BP" required />
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="FH-Add" class="control-label">Fundal Height</label>
                            <input id="FH-Add" name="FH" class="form-control" placeholder="Enter Fundal Height" required />
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="FHT-Add" class="control-label">Fetal Heart Rate</label>
                            <input id="FHT-Add" name="FHT" class="form-control" placeholder="Enter Fetal Heart Rate" required />
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="Temp-Add" class="control-label">Temperature</label>
                            <input id="Temp-Add" name="Temp" class="form-control" placeholder="Enter Temperature" required />
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="CR-Add" class="control-label">CR</label>
                            <input id="CR-Add" name="CR" class="form-control" placeholder="Enter CR" required />
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="RR-Add" class="control-label">RR</label>
                            <input id="RR-Add" name="RR" class="form-control" placeholder="Enter RR" required />
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="DateVisit-Add" class="control-label">Date of Visit</label>
                            <input type="datetime-local" id="DateVisit-Add" name="DateVisit" class="form-control" required />
                        </div>

                        <div class="col-md-12 mb-3">
                            <label for="PhyAsses-Add" class="control-label">Physical Assessment</label>
                            <textarea id="PhyAsses-Add" name="PhysicalAssessment" class="form-control" placeholder="Enter Physical Assessment" rows="3"></textarea>
                        </div>

                        <div class="col-md-12 mb-3">
                            <label for="Notes-Add" class="control-label">Notes (optional)</label>
                            <textarea id="Notes-Add" name="Notes" class="form-control" placeholder="Enter any relevant notes" rows="3"></textarea>
                        </div>

                        <div class="col-md-12 mb-3">
                            <label for="RX-ADD" class="control-label">RX (optional)</label>
                            <textarea id="RX-Add" name="RX" class="form-control" placeholder="Enter advice prescription" rows="3"></textarea>
                        </div>

                        <div class="col-12 mt-3 d-flex justify-content-end">
                            <div class="d-flex align-items-center gap-2">
                                <button type="submit" class="btn btn-pink">Save</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Edit Prenatal Visit Modal -->
<div class="modal fade" id="prenatalVisitEditModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Prenatal Visit: <span class="text-pink" id="numVisit-edit"></span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="UpdatePrenatalVisitForm">
                    <div class="row">
                        <input type="hidden" id="caseNo-edit" name="CaseNo" />
                        <input type="hidden" id="patientId-edit" name="PatientID" />

                        <div class="col-md-6 mb-3">
                            <label for="numOfVisit-edit" class="control-label">Number of Visit</label>
                            <input type="number" id="numOfVisit-edit" name="NumberOfVisit" class="form-control" placeholder="Enter number of Visit" required />
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="AOGWeek-edit" class="control-label">AOG Week</label>
                            <input id="AOGWeek-edit" name="AOGWeek" class="form-control" placeholder="Enter AOG Week" required />
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="Weight-edit" class="control-label">Weight</label>
                            <input id="Weight-edit" name="Weight" class="form-control" placeholder="Enter Weight" required />
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="BP-edit" class="control-label">Blood Pressure</label>
                            <input id="BP-edit" name="BP" class="form-control" placeholder="Enter BP" required />
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="FH-edit" class="control-label">Fundal Height</label>
                            <input id="FH-edit" name="FH" class="form-control" placeholder="Enter Fundal Height" required />
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="FHT-edit" class="control-label">Fetal Heart Rate</label>
                            <input id="FHT-edit" name="FHT" class="form-control" placeholder="Enter Fetal Heart Rate" required />
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="Temp-edit" class="control-label">Temperature</label>
                            <input id="Temp-edit" name="Temp" class="form-control" placeholder="Enter Temperature" required />
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="CR-edit" class="control-label">CR</label>
                            <input id="CR-edit" name="CR" class="form-control" placeholder="Enter CR" required />
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="RR-edit" class="control-label">RR</label>
                            <input id="RR-edit" name="RR" class="form-control" placeholder="Enter RR" required />
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="DateVisit-edit" class="control-label">Date of Visit</label>
                            <input type="datetime-local" id="DateVisit-edit" name="DateVisit" class="form-control" required />
                        </div>

                        <div class="col-md-12 mb-3">
                            <label for="PhyAsses-edit" class="control-label">Physical Assessment</label>
                            <textarea id="PhyAsses-edit" name="PhysicalAssessment" class="form-control" placeholder="Enter Physical Assessment" rows="3"></textarea>
                        </div>

                        <div class="col-md-12 mb-3">
                            <label for="Notes-edit" class="control-label">Notes</label>
                            <textarea id="Notes-edit" name="Notes" class="form-control" placeholder="Enter any relevant notes" rows="3"></textarea>
                        </div>

                        <div class="col-md-12 mb-3">
                            <label for="RX-edit" class="control-label">Prescription</label>
                            <textarea id="RX-edit" name="RX" class="form-control" placeholder="Enter advice prescription" rows="3"></textarea>
                        </div>

                        <div class="col-12 mt-3 d-flex justify-content-end">
                            <div class="d-flex align-items-center gap-2">
                                <button type="submit" class="btn btn-primary">Update</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Details Prenatal Visit Modal -->
<div class="modal fade" id="prenatalVisitDetailModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Prenatal Form</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-md-3 mb-3">
                            <label for="Gravida-Edit" class="control-label">GRAVIDA</label>
                            <input id="Gravida-Edit" name="Gravida" class="form-control" placeholder="Enter number of Gravida" required />
                        </div>

                        <div class="col-md-3 mb-3">
                            <label for="Para-Edit" class="control-label">PARA</label>
                            <input id="Para-Edit" name="Para" class="form-control" placeholder="Enter number of Para" required />
                        </div>

                        <div class="col-md-3 mb-3">
                            <label for="Abortion-Edit" class="control-label">ABORTION</label>
                            <input id="Abortion-Edit" name="Abortion" class="form-control" placeholder="Enter number of Abortion" required />
                        </div>

                        <div class="col-md-3 mb-3">
                            <label for="StillBirth-Edit" class="control-label">STILL BIRTH</label>
                            <input id="StillBirth-Edit" name="StillBirth" class="form-control" placeholder="Enter number of Still Birth" required />
                        </div>

                        <div class="col-md-3 mb-3">
                            <label for="LMP" class="control-label">LMP</label>
                            <input type="date" id="LMP-Edit" name="LMP" class="form-control" required />
                        </div>

                        <div class="col-md-3 mb-3">
                            <label for="EDC" class="control-label">EDC</label>
                            <input type="date" id="EDC-Edit" name="EDC" class="form-control" required />
                        </div>

                        <div class="col-md-3 mb-3">
                            <label for="DateVisit-Edit" class="control-label">DateVisit</label>
                            <input type="datetime-local" id="DateVisit-Edit" name="DateVisit" class="form-control" required />
                        </div>

                        <div class="col-md-3 mb-3">
                            <label for="HRCODE" class="control-label">H.R. Code</label>
                            <input id="HRCODE-Edit" name="HRCODE" class="form-control" placeholder="Enter H.R Code" required />
                        </div>

                        <div class="col-12 mt-3 d-flex justify-content-end">
                            <div class="d-flex align-items-center gap-2">
                                <button type="button" class="btn btn-success">Print</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            $('.filterInput').on('keyup', function () {
                var value = $(this).val().toLowerCase();
                var rows = $('tbody tr:not(.no-record-found)');
                var noRecordRow = $('.no-record-found');
                // Filter rows
                var visibleRows = rows.filter(function () {
                    return $(this).text().toLowerCase().indexOf(value) > -1;
                }).toggle(true);

                rows.not(visibleRows).toggle(false);
                if (visibleRows.length === 0) {
                    noRecordRow.show(); 
                } else {
                    noRecordRow.hide();  
                }
            });

            // Reset the form when the modal is hidden
            $('#prenatalVisitAddModal').on('hidden.bs.modal', function () {
                var modal = $(this);
                modal.find('form')[0].reset();
            });

            // ADD
            $("#AddPrenatalVisitForm").on("submit", function (e) {
                e.preventDefault();
                AddPrenatalVisit();
            });
            //Detail
            $(".detail-Btn").on("click", function (e) {
                var caseNo = $(this).data('caseno');
                PrenatalVisitDetail(caseNo);
            });
            //Edit
            $(".edit-Btn").on("click", function (e) {
                var caseNo = $(this).data('caseno');
                PrenatalVisitEdit(caseNo);
            });
            // UPDATE
            $("#UpdatePrenatalVisitForm").on("submit", function (e) {
                e.preventDefault();
                UpdatePrenatalVisit();
            });
            // DELETE
            $(".dlt-Btn").on("click", function (e) {
                var caseNo = $(this).data('caseno');
                DeletePrenatal(caseNo);
            });
        });

        //Update Prenatal Visit
        function UpdatePrenatalVisit() {
            var formData = $("#UpdatePrenatalVisitForm").serialize();
            console.log(formData)
            $.ajax({
                url: '@Url.Action("UpdatePrenatalVisitRecord", "Servicess")',
                type: 'POST',
                data: formData,
                success: function (result) {
                    if (result.isSuccess) {
                        toastr.success('Prenatal Visit record updated successfully!');
                        $('#prenatalVisitEditModal').modal('hide');
                        location.reload();
                    } else {
                        toastr.error(result.message || 'Failed to update the prenatal visit record.');
                    }
                },
                error: function (err) {
                    toastr.error('An error occurred while updating the prenatal visit record.');
                    console.error('Error:', err);
                }
            });
        }

        //Delete Prenatal Visit
        function DeletePrenatal(caseNo) {
            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this, but you can see this on deleted history!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!"
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: 'DELETE',
                        url: '@Url.Action("DeletePrenatalVisitRecord", "Servicess")',
                        data: { caseNo: caseNo },
                        success: function (result) {
                            if (result) {
                                location.reload();
                            }
                        },
                        error: function () {
                            console.log('Unable to get the data.');
                        }
                    })
                }
            });



        }

        //Edit Prenatal Visit
        function PrenatalVisitEdit(caseNo) {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("DetailPrenatalVisitRecord", "Servicess")',
                data: { caseNo: caseNo },
                success: function (result) {
                    var item = result.item;
                    if (result && result.isSuccess == true) {
                        $("#caseNo-edit").val(item.caseNo);
                        $("#patientId-edit").val(item.patientID);
                        $("#numVisit-edit").text(item.numberOfVisit + " Visit");
                        $("#numOfVisit-edit").val(item.numberOfVisit);
                        $("#AOGWeek-edit").val(item.aogWeek);
                        $("#Weight-edit").val(item.weight);
                        $("#BP-edit").val(item.bp);
                        $("#FH-edit").val(item.fh);
                        $("#FHT-edit").val(item.fht);
                        $("#Temp-edit").val(item.temp);
                        $("#CR-edit").val(item.cr);
                        $("#RR-edit").val(item.rr);
                        $("#DateVisit-edit").val(item.dateVisit);
                        $("#PhyAsses-edit").val(item.physicalAssessment);
                        $("#Notes-edit").val(item.notes);
                        $("#RX-edit").val(item.rx);

                        //Show Modal
                        $('#prenatalVisitEditModal').modal('show');
                    } else {
                        toastr.error(result.message || 'Unable to load prenatal record.');
                    }
                },
                error: function () {
                    toastr.error('An error occurred while loading the prenatal record.');
                    console.log('Unable to get the data.');
                }
            })
        }

        //Detail Prenatal Visit
        function PrenatalVisitDetail(caseNo) {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("DetailPrenatalVisitRecord", "Servicess")',
                data: { caseNo: caseNo },
                success: function (result) {
                    var item = result.item;
                    if (result && result.isSuccess == true) {
                        $("#caseNo-detail").val(item.caseNo);
                        $("#patientId-detail").val(item.patientID);
                        $("#numVisit-detail").text(item.numberOfVisit + " Visit");
                        $("#AOGWeek-detail").val(item.aogWeek);
                        $("#Weight-detail").val(item.weight);
                        $("#BP-detail").val(item.bp);
                        $("#FH-detail").val(item.fh);
                        $("#FHT-detail").val(item.fht);
                        $("#Temp-detail").val(item.temp);
                        $("#CR-detail").val(item.cr);
                        $("#RR-detail").val(item.rr);
                        $("#DateVisit-detail").val(item.dateVisit);
                        $("#PhyAsses-detail").val(item.physicalAssessment);
                        $("#Notes-detail").val(item.notes);
                        $("#RX-detail").val(item.rx);

                        //Show Modal
                        $('#prenatalVisitDetailModal').modal('show');
                    } else {
                        toastr.error(result.message || 'Unable to load prenatal record.');
                    }
                },
                error: function () {
                    toastr.error('An error occurred while loading the prenatal record.');
                    console.log('Unable to get the data.');
                }
            })
        }

        //Add Prenatal Visit
        function AddPrenatalVisit() {
            var patientId = $("#patID").val();
            var caseNo = $("#caseID").val();
            var formData = $('#AddPrenatalVisitForm').serializeArray();
            formData.push({ name: 'patientID', value: patientId });
            formData.push({ name: 'caseNo', value: caseNo });

            console.log(formData)

            $.ajax({
                url: '@Url.Action("AddPrenatalVisitRecord", "Servicess")',
                type: 'POST',
                data: formData,
                success: function (result) {
                    if (result) {
                        location.reload();
                    }
                },
                error: function (err) {
                    console.error('Error:', err);
                }
            });
        }
    </script>

}