@model List<NatalCare.Models.Entities.Delivery>

@{
    ViewData["Title"] = "Admission Records";
    ViewData["NavTitle"] = "Admission Records";
    Layout = "_UserLayout";
}

<!-- NAVBAR -->
<partial name="Partial/_Navbar" />

<div class="mx-4">
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card shadow py-2 card-selected">
                <div class="card-body">
                    <div class="row">
                        <div class="col mr-2">
                            <div class="fw-bold mb-1" style="font-size: 1em; color: var(--dark);">
                                Total Admitted
                            </div>
                        </div>
                        <div class="col-auto align-items-center" style="padding-right:2rem;">
                            <div class="h1">
                                @(ViewBag.TotalAdmitted ?? 0)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card shadow py-2 card-selected">
                <div class="card-body">
                    <div class="row">
                        <div class="col mr-2">
                            <div class="fw-bold mb-1" style="font-size: 1em; color: var(--dark);">
                                Total In-Labor
                            </div>
                        </div>
                        <div class="col-auto align-items-center" style="padding-right:2rem;">
                            <div class="h1">
                                @(ViewBag.TotalInLabor ?? 0)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card shadow py-2 card-selected">
                <div class="card-body">
                    <div class="row">
                        <div class="col mr-2">
                            <div class="fw-bold mb-1" style="font-size: 1em; color: var(--dark);">
                                Total Pospartum Care
                            </div>  
                        </div>
                        <div class="col-auto align-items-center" style="padding-right:2rem;">
                            <div class="h1">
                                @(ViewBag.TotalPospartum ?? 0)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mb-4 mt-2 d-flex align-items-center justify-content-end gap-3">
        <a class="btn btn-pink " asp-controller="Admission" asp-action="Create">
            <i class="fas fa-plus" style="font-size: 18px;"></i>
            <strong>Add Admit Patient</strong>
        </a>
    </div>

    <div class="card shadow-sm card-selected">
        <div class="card-body">
            <div class="table-responsive">
                <table id="newbornTable" class="table table-hover table-striped table-datatable">
                    <thead class="border-bottom-2">
                        <tr>
                            <th>Patient No#</th>
                            <th>Patient Name</th>
                            <th>Date & Time Admitted</th>
                            <th>Date & Time Discharge</th>
                            <th>Ward No#</th>
                            <th>Bed No#</th>
                            <th>Patient Status</th>
                            <th>Notes</th>
                            <th>Added By</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th>@item.PatientID</th>
                                <td>@item.Patient?.FirstName @item.Patient?.MiddleName @item.Patient?.LastName</td>
                                <td>@item.Date_Admitted.ToString("MMM dd yyyy") @item.Time_Admitted</td>
                                <td>@item.Date_Discharged @item.Time_Discharged</td>
                                <td>@item.Wards?.WardNo</td>
                                <td>@item.Beds?.BedNo</td>
                                <td>
                                    @if (item.DeliveryStatusID == 1)
                                    {   //In Labor
                                        <span class="badge bg-success">@item.DeliveryStatus?.StatusName</span>
                                    }
                                    else if (item.DeliveryStatusID == 2)
                                    {   //PostPartum
                                        <span class="badge bg-warning">@item.DeliveryStatus?.StatusName</span>
                                    }
                                    else if (item.DeliveryStatusID == 3)
                                    {   // Discharged
                                        <span class="badge bg-danger">@item.DeliveryStatus?.StatusName</span>
                                    }
                                    else if (item.DeliveryStatusID == 4)
                                    {   // Reffered
                                        <span class="badge bg-info text-dark">@item.DeliveryStatus?.StatusName</span>
                                    }
                                </td>
                                <td>@item.Notes</td>
                                <td>@item.CreatedBy?.FirstName @item.CreatedBy?.MiddleName @item.CreatedBy?.LastName</td>
                                <td>
                                    <div class="d-flex align-items-center justify-content-center gap-2">
                                        <a class="btn btn-outline-secondary" asp-controller="" asp-action="" asp-route-id="@item.CaseNo">
                                            <i class="fa-solid fa-list"></i>
                                        </a>
                                        <a class="btn btn-outline-primary" asp-controller="Admission" asp-action="Edit" asp-route-id="@item.CaseNo">
                                            <i class="fa-solid fa-pencil"></i>
                                        </a>
                                       @*  <button class="btn btn-outline-danger dlt-Btn">
                                            <i class="fa-solid fa-trash"></i>
                                        </button> *@
                                    </div>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>



