@using NatalCare.Models.ViewModel.Patient
@model MaternalMonitoringVM

@{
    ViewData["Title"] = "Print Maternal Monitoring Form";
}
<style>
    label, input {
        font-size: 14px;
    }

</style>

<div class="m-3">
    <div class="text-center mb-4" style="cursor: pointer;">
        <img class="img-fluid" src="/img/logo.png" width="160" />
    </div>

    <h5 class="px-2 text-center fw-bold">MATERNAL SERVICES RECORD</h5>
    <h5 class="px-2 mb-3 text-center fw-bold">DELIVERY MONITORING RECORD</h5>

    <div class="container-sm mt-5">
        <div class="d-flex align-items-center justify-content-between mb-2">
            <h6 class="fw-bold" style="font-size:1.2rem;">I. PROGRESS OF LABOR</h6>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Temperature</th>
                        <th>BP</th>
                        <th>PR</th>
                        <th>RR</th>
                        <th>Uterine Contraction Interval</th>
                        <th>Clervical Dilation</th>
                        <th>Bow Intact/Rupture</th>
                        <th>Fetal Heart Tones</th>
                        <th>Characteristic of FHT Weak/Strong</th>
                        <th>Presenting Part</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    @if (Model.ProgressLabor != null || Model.ProgressLabor?.Count() > 0)
                    {
                        @foreach (var item in Model.ProgressLabor)
                        {
                            <tr>
                                <td>@item.Date</td>
                                <td>@item.Time</td>
                                <td>@item.Temperature ℃</td>
                                <td>@item.BP</td>
                                <td>@item.PulseRate</td>
                                <td>@item.RespiratoryRate</td>
                                <td>@item.UterineContractionInterval</td>
                                <td>@item.Cervicaldilation</td>
                                <td>@item.BowStatus</td>
                                <td>@item.FetalHeartTones</td>
                                <td>@item.FetalHeartToneChar</td>
                                <td>@item.PresentingPart</td>
                            </tr>
                        }

                        for(var i = 0; i<3; i++){
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="15">
                                <div class="alert alert-primary" role="alert">
                                    No Data Added Yet!
                                </div>
                            </td>

                        </tr>
                    }

                </tbody>
            </table>
        </div>

        <hr class="divider bg-pink my-5" />

        <div class="row">
            <div class="row">
                    @* Baby delivered *@
                    <div class="col-md-6">
                        <h6 class="fw-bold mb-4" style="font-size:1.2rem;">II. DELIVERY OF THE BABY</h6>

                        <div class="col-sm-8 mb-3">
                            <div class="d-flex align-items-center">
                                <h6 class="me-2 mb-0 fw-bold">DATE & TIME DELIVERED: </h6>
                                <div class="border-bottom flex-grow-1">
                                    <span class="px-2">
                                        @(Model.MaternalMonitoring?.BabyDateDelivered != null ? Model.MaternalMonitoring.BabyDateDelivered + " " + Model.MaternalMonitoring?.BabyTimeDelivered : "N/A")
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-8 mb-3">
                            <div class="d-flex align-items-center">
                                <h6 class="me-2 mb-0 fw-bold">APGAR SCORING:</h6>
                                <div class="border-bottom flex-grow-1">
                                    <span class="px-2">
                                        @(Model.MaternalMonitoring?.Apgar != null ? Model.MaternalMonitoring.Apgar : "N/A")
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-m-8 mb-3">
                            <div class="d-flex align-items-center">
                                <h6 class="me-2 mb-0 fw-bold">SEX OF BABY:</h6>
                                <div class="border-bottom flex-grow-1">
                                    <span class="px-2">
                                        @(Model.MaternalMonitoring?.BabySex != null ? Model.MaternalMonitoring.BabySex.ToUpper() : "N/A")
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-8 mb-3">
                            <div class="d-flex align-items-center">
                                <h6 class="me-2 mb-0 fw-bold">WEIGHT:</h6>
                                <div class="border-bottom flex-grow-1">
                                    <span class="px-2">
                                        @(Model.MaternalMonitoring?.BabyWeight != null ? Model.MaternalMonitoring.BabyWeight.ToUpper() : "N/A")
                                    </span>
                                </div>
                            </div>
                        </div>

                    </div>
                    @* Placenta*@
                    <div class="col-sm-6">
                        <h6 class="fw-bold mb-4" style="font-size:1.2rem;">III. DELIVERY OF THE PLACENTA</h6>

                        <div class="col-md-8 mb-3">
                            <div class="d-flex align-items-center">
                                <h6 class="me-2 mb-0 fw-bold">DATE & TIME DELIVERED: </h6>
                                <div class="border-bottom flex-grow-1">
                                    <span class="px-2">
                                        @(Model.MaternalMonitoring?.PlacentaDateDelivered != null ? Model.MaternalMonitoring.PlacentaDateDelivered + " " + Model.MaternalMonitoring?.PlacentaTimeDelivered : "N/A")
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-8 mb-3">
                            <div class="d-flex align-items-center">
                                <h6 class="me-2 mb-0 fw-bold">COMPLETE OR INCOMPLETE:</h6>
                                <div class="border-bottom flex-grow-1">
                                    <span class="px-2">
                                        @(Model.MaternalMonitoring?.PlacentaStatus != null ? Model.MaternalMonitoring.PlacentaStatus : "N/A")
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    @* Midwife *@
                    <div class="row py-3 d-flex justify-content-center">
                        <div class="col-sm-6 mt-5 text-center">
                            <div class="border-bottom px-3 mx-5">
                                @(Model.MaternalMonitoring?.ServiceProviderID != null ? Model.MaternalMonitoring.ServiceProvider?.FirstName + " " + Model.MaternalMonitoring.ServiceProvider?.MiddleName + " " + Model.MaternalMonitoring.ServiceProvider?.LastName : "N/A")
                            </div>
                            <label class="fw-bold mt-2 d-block">Signature of the Service Provider</label>
                        </div>
                    </div>
                </div>
        </div>
    </div>

</div>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        // PrintForm();
    });

    function PrintForm() {
        var patId = $("#patId").val();
        window.onafterprint = function () {
            window.location.href = "/Patient/Information?id=" + patId;
        };

        window.print();
    }
</script>