@model NatalCare.Models.Entities.Patients

@{
    ViewData["Title"] = "Print Patient Information";
}
<style>
    label, input {
        font-size: 14px;
    }

</style>

<div class="m-3">
    <div class="text-center mb-4" style="cursor: pointer;">
        <img class="img-fluid" src="/img/logo.png" width="160" />
    </div>

    <h5 class="text-center mb-3">Patient Information</h5>


    <div class="card card-selected mb-2">
        <div class="card-body c-details">
            <div class="d-flex align-items-center justify-content-between">
                <h6 class="card-title m-0">Basic Information</h6>
                <h6 class="m-0">Patiend ID: <strong style="font-weight: 700;"> @Model.PatientID </strong> </h6>
            </div>
            <input type="hidden" id="patId" value="@Model.PatientID" />
            <div class="row mx-4">
                <!-- Firstname -->
                <div class="form-group col-sm-4 mb-2">
                    <label class="form-label">Firstname</label>
                    <input class="form-control text-capitalize bg-white" value="@Model.FirstName" readonly />
                </div>

                <!-- Middlename -->
                <div class="form-group col-sm-4 mb-2">
                    <label class="form-label">Middlename</label>
                    <input class="form-control text-capitalize bg-white" value="@Model.MiddleName" readonly />
                </div>

                <!-- Lastname -->
                <div class="form-group col-sm-4 mb-2">
                    <label class="form-label">Lastname</label>
                    <input class="form-control text-capitalize bg-white" value="@Model.LastName" readonly />
                </div>

                <!-- Age Calculation -->
                <div class="form-group col-sm-4 mb-2">
                    <label class="form-label">Age</label>
                    @{
                        var birthdate = Model.Birthdate;
                        int? age = null;

                        if (birthdate.HasValue)
                        {
                            var today = DateOnly.FromDateTime(DateTime.Now);
                            age = today.Year - birthdate.Value.Year;

                            // Adjust if birthdate hasn't occurred yet this year
                            if (today < birthdate.Value.AddYears(age.Value))
                            {
                                age--;
                            }
                        }
                    }
                    <input class="form-control text-capitalize bg-white" value="@age" readonly />
                </div>


                <!-- Gender -->
                <div class="form-group col-sm-4 mb-2">
                    <label class="form-label">Gender</label>
                    <input class="form-control text-capitalize bg-white" value="@Model.Gender" readonly />
                </div>

                <!-- Birthdate -->
                <div class="form-group col-sm-4 mb-2">
                    <label class="form-label">Birthdate</label>
                    <input class="form-control text-capitalize bg-white" value="@Model.Birthdate?.ToString("MM/dd/yyyy")" readonly /> <!-- Adjusted to display formatted date -->
                </div>

                <!-- Birth Place -->
                <div class="form-group col-sm-6 mb-2">
                    <label class="form-label">Birth Place</label>
                    <input class="form-control text-capitalize bg-white" value="@Model.PlaceOfBirth" readonly />
                </div>

                <!-- Address -->
                <div class="form-group col-sm-6 mb-2">
                    <label class="form-label">Address</label>
                    <input class="form-control text-capitalize bg-white" value="@Model.Address" readonly />
                </div>

                <!-- Occupation -->
                <div class="form-group col-sm-4 mb-2">
                    <label class="form-label">Occupation</label>
                    <input class="form-control text-capitalize bg-white" value="@Model.Occupation" readonly />
                </div>

                <!-- Phone Number -->
                <div class="form-group col-sm-4 mb-2">
                    <label class="form-label">Phone Number</label>
                    <input class="form-control text-capitalize bg-white" value="@Model.MobileNumber" readonly />
                </div>

                <!-- Telephone Number -->
                <div class="form-group col-sm-4 mb-2">
                    <label class="form-label">Telephone Number</label>
                    <input class="form-control text-capitalize bg-white" value="@Model.TeleNumber" readonly />
                </div>

                <!-- Blood Type -->
                <div class="form-group col-sm-4 mb-2">
                    <label class="form-label">Blood Type</label>
                    <input class="form-control text-capitalize bg-white" value="@Model.BloodType" readonly />
                </div>

                <!-- Religion -->
                <div class="form-group col-sm-4 mb-2">
                    <label class="form-label">Religion</label>
                    <input class="form-control text-capitalize bg-white" value="@Model.Religion" readonly />
                </div>
            </div>
            <!-- Emergency Contact Section -->
            <h6 class="card-title mt-3">Emergency Contact</h6>
            <div class="row mx-4">
                <div class="form-group col-sm-6 mb-2">
                    <label class="form-label">Emergency Contact Name</label>
                    <input class="form-control text-capitalize bg-white" value="@Model.Emergency_Name" readonly />
                </div>
                <div class="form-group col-sm-6 mb-2">
                    <label class="form-label">Emergency Contact Phonenumber</label>
                    <input class="form-control text-capitalize bg-white" value="@Model.Emergency_MobileNumber" readonly />
                </div>
            </div>
            <!-- Insurance Section -->
            <h6 class="card-title mt-3">Insurance Details</h6>
            <div class="row mx-4">
                <div class="form-group col-sm-6 mb-2">
                    <label class="form-label">PhilHealth Number</label>
                    <input class="form-control text-capitalize bg-white" value="@Model.PHIC_NO" readonly />
                </div>
            </div>

            <!-- Spouse Section -->
            <h6 class="card-title mt-3">Spouse / Partner's Information</h6>
            <div class="row mx-4">
                <div class="form-group col-sm-4 mb-2">
                    <label class="form-label">Spouse Firstname</label>
                    <input class="form-control text-capitalize bg-white" value="@Model.Spouse.FirstName" readonly />
                </div>
                <div class="form-group col-sm-4 mb-2">
                    <label class="form-label">Spouse MiddleName</label>
                    <input class="form-control text-capitalize bg-white" value="@Model.Spouse.MiddleName" readonly />
                </div>
                <div class="form-group col-sm-4 mb-2">
                    <label class="form-label">Spouse LastName</label>
                    <input class="form-control text-capitalize bg-white" value="@Model.Spouse.LastName" readonly />
                </div>
                <div class="form-group col-sm-4 mb-2">
                    <label class="form-label">Spouse Firstname</label>
                    <input class="form-control text-capitalize bg-white" value="@Model.Spouse.Birthdate" readonly />
                </div>
                <div class="form-group col-sm-4 mb-2">
                    <label class="form-label">Spouse Address</label>
                    <input class="form-control text-capitalize bg-white" value="@Model.Spouse.Address" readonly />
                </div>
                <div class="form-group col-sm-4 mb-2">
                    <label class="form-label">Spouse Gender</label>
                    <input class="form-control text-capitalize bg-white" value="@Model.Spouse.Gender" readonly />
                </div>
                <div class="form-group col-sm-4 mb-2">
                    <label class="form-label">Spouse Occupation</label>
                    <input class="form-control text-capitalize bg-white" value="@Model.Spouse.Occupation" readonly />
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        PrintForm();
    });

    function PrintForm() {
        var patId = $("#patId").val();
        window.onafterprint = function () {
            window.location.href = "/Patient/Information?id=" + patId;
        };

        window.print();
    }
</script>